/*BASIC BACKGROUND IMAGE- BEHIND ALL UTILITIES*/
#outer {
  background: url("INSERT MEDIA LINK");
  border: INSERT BORDER ELEMENT;
}
/*TOP OF PAGE HEADER*/
#header {
  background: INSERT HEX CODE;
  border: INSERT BORDER ELEMENT;
  border-radius: 7px;
}
/*BELOW TOP OF PAGE HEADER WITH FANDOM AND OTHER BUTTONS*/
#header .primary {
  background: INSERT HEX CODE;
  border: INSERT BORDER ELEMENT;
  border-radius: 7px;
}
/*BOTTOM OF PAGE MAIN BOX*/
#footer {
  background: INSERT HEX CODE;
}
/*MAIN BOX CONTAINING WORKS*/
#dashboard {
  background: INSERT HEX CODE;
  border: INSERT BORDER ELEMENT;
  border-top: INSERT BORDER ELEMENT;
  border-radius: 7px;
}
/*SIDEBAR SELECTION*/
#dashboard .current {
  background: INSERT HEX CODE;
  border: INSERT BORDER ELEMENT;
  border-radius: 7px;
}
/*SIDEBAR SELECTION UPON HOVER*/
#dashboard .current:hover {
  background: INSERT HEX CODE !important;
  border: INSERT BORDER ELEMENT !important;
  border-radius: 7px !important;
}
/*MAINBOX BORDER*/
#main {
  border: INSERT BORDER ELEMENT;
}
/*INFO BOXES WITHIN FOOTER*/
#footer .module {
  background: INSERT HEX CODE;
  border: INSERT BORDER ELEMENT;
  border-radius: 7px;
}

#header {
  background: INSERT HEX CODE;
  border: INSERT BORDER ELEMENT;
  border-radius: 7px;
}
/*DASHBOARD BORDERS- OVERWRITES RED BORDERS*/
#dashboard.own {
  border: INSERT BORDER ELEMENT;
  border-top: INSERT BORDER ELEMENT;
  border-bottom: INSERT BORDER ELEMENT;
  border-radius: 7px;
}
/*MAIN BOX*/
#main {
  background: INSERT HEX CODE;
  border: INSERT BORDER ELEMENT;
}
/*WORKS BUBBLES*/
#inner .group {
  background: INSERT HEX CODE;
  border: INSERT BORDER ELEMENT;
  border-radius: 7px;
}

#footer .module {
  background: INSERT HEX CODE;
  border: INSERT BORDER ELEMENT;
}
/*DO NOT MESS WITH OUTLINE*/
fieldset,
.flash {
  outline: 0;
  border-radius: 2px;
  box-shadow: none;
}

.blurb .module,
#inner .group .group .group,
fieldset fieldset {
  border: INSERT BORDER ELEMENT;
  box-shadow: none;
}
/*RELATIONSHIP HIGHLIGHT COLOR-MAKE SAME COLOR IF NOT FUSSED*/
li.relationships a {
  background: INSERT HEX CODE;
}
/*BUTTONS- POST NEW ETC ETC- ALL BUTTONS GROUPED*/
.actions a,
.actions a:link,
.action,
.action:link,
.actions button,
.actions input,
input[type="submit"],
button,
.current,
.actions label {
  background: INSERT HEX CODE;
  border: INSERT BORDER ELEMENT;
  border-radius: 7px;
  color: #FFFFFF;
}
/*BLURB TEXT COLOR*/
.blurb h4 a:link,
.blurb h4 img {
  color: #000000;
}
/*HEADER TEXT COLOR*/
#header .heading a {
  color: #000000;
}
/*DROPDOWN MENU HOVER*/
#header .actions a:hover,
#header .actions a:focus,
#header .dropdown:hover a,
#header .open a {
  background: INSERT HEX CODE;
  border: INSERT BORDER ELEMENT;
  border-radius: 7px;
}
/*HEADER HOVERS*/
#header .user a:hover,
#header .user a:focus {
  color: #000000;
}

.group .header,
.blurb ul.tags,
.blurb blockquote,
#outer .current {
  background: INSERT HEX CODE;
  border: INSERT BORDER ELEMENT;
  border-radius: 5px;
} 

#header .menu,
#small_login {
  background: INSERT HEX CODE;
  border: INSERT BORDER ELEMENT;
  border-radius: 7px;
}

#workskin {
  background: #FFFFFF;
  border: INSERT BORDER ELEMENT;
  border-radius: 7px;
}

#dashboard a:hover,
#dashboard span:hover {
  background: INSERT HEX CODE !important;
  color: #000000 !important;
}

.filters fieldset {
  background: INSERT HEX CODE;
  border: INSERT BORDER ELEMENT;
  border-radius: 7px;
}

a:visited {
  color: #000000;
}

a:hover {
  background: #467444 !important;
  border: 5px double #001704;
  border-radius: 5px;
  color: #FFFFFF;
}

/*OPTIONAL LOGO CHANGE*/
img.logo {
  padding: 10px 70px 0px 0px;
  background: url('https://i.postimg.cc/mgHZ5rJF/Untitled8-20250611195724.png');
  background-size: 70px;
  background-repeat: no-repeat;
  width: 0px;
  height: 0px;
}

