/*
Free to use CSS template by Katie (#106445).
This code may be altered, edited, or re-uploaded. 
This template may be used to create paid codes (pre-mades and commissions).
Please do NOT remove this credit, unless your coding becomes unrecognizable from this one! 
*/

/* FONT (From Google Fonts) */

@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap');

/* BACKGROUND */

body {
	background: url('https://i.ibb.co/r3LmqCj/Untitled275-20231208014521.png') no-repeat center center fixed;
	background-size: cover;
	font-family: 'Hedvig Letters Serif', serif;';
	color: #9cab95
}

/* MAIN PANEL */

/* RIGHT SIDE */
.container.main {
	background: rgba(91, 94, 66, 0.35);
	border: 3px dashed #9cab95;
	box-shadow: none;
	border-radius: 10px
}

/* LEFT SIDE */
.col-md-9 {
	background: none;
        border-right: 3px dashed #9cab95
}

/* TOPBAR ("Welcome back, ___") */

.topbar {
	background: rgba(54, 56, 39, 0.65);
	border: 3px dashed #9cab95;
	border-top: none;
	color: #9cab95;
	border-radius: 10px;
}

/* NAVBAR (Den/Crossroads/Etc.) */

.navbar {
	background: rgba(72, 75, 52, 0.65);
	border-bottom: 3px dashed #9cab95;
	color: #9cab95;
	border-radius: 10px
}

/* NAVBAR BUTTON TEXT COLOR */

.navbar li a {
	color: #9cab95 !important
}

/* NAVBAR BUTTON HOVER */

.navbar li a:hover {
	background: rgba(81, 84, 59, 0.65) !important;
	border-bottom: 3px dashed #9cab95;
	color: #9cab95 !important;
	border-radius: 10px
}

/* BREADCRUMB (Home / Den) */

.breadcrumb {
	background: rgba(54, 56, 39, 0.65) !important;
        border: 3px dashed #9cab95;
	border-radius: 10px
}

/* BREADCRUMB TEXT */

.breadcrumb .active {
	color: #9cab95
}

/* CSS CREDIT */

.breadcrumb::after {
        content: "Template by Katie (#106445)|CSS by Red(#261489)";
        color: #9cab95;
        position: absolute;
        right: 13%; /* (This may need adjusting) */
        z-index: 100
    }

@media only screen and (max-width: 1199px) and (min-width: 992px)  {
        .breadcrumb::after {
            right: 20%
        }
    }

    @media only screen and (max-width: 991px) and (min-width: 768px)  {
        .breadcrumb::after {
            right: 20%
        }
    }

    @media only screen and (max-width: 767px) {
        .breadcrumb::after {
            right: 22%
        }
    }

/* BOOKMARK BUTTON */

input.floatright, input.floatright:hover {
	background: linear-gradient(90deg, rgba(91,94,66,1) 0%, rgba(54,56,39,1) 100%) !important;
        border: 3px dashed #9cab95 !important;
	border-radius: 10px;
	color: #9cab95 !important;    
}

/* SWITCH ACCOUNT BUTTON */

button.button, button.button:hover {
	background: linear-gradient(90deg, rgba(91,94,66,1) 0%, rgba(54,56,39,1) 100%);
        border: 3px dashed #9cab95 !important;
	border-radius: 10px;
        text-shadow: none !important;
	color: #9cab95 !important
}

/* ALERTS (ie. "Your lionesses have returned from hunting!") */

.alert,
.alert-warning,
.alert-danger {
	background: rgba(91, 94, 66, 0.65) !important;
	border: 3px dashed #9cab95;
	color: #9cab95;
	border-radius: 10px !important
}

/* BIGGEST HEADER ("___"'s DEN) */

h1 {
	color: #9cab95;
	font-size: 90px;
	text-align: center;
        font-family: 'Hedvig Letters Serif', serif;'
}


/* MEDIUM HEADER */

h2 {
	color: #9cab95;
	font-size: 24px;
	text-align: center
}


/* SMALL HEADER */

h3 {
	color: #9cab95 !important;
	font-size: 14px !important
}

/* RIGHT SIDE PANEL HEADER */

.sidebar h3 {
	color: #9cab95 !important;
        font-size: 26px !important;
        font-family: 'Hedvig Letters Serif', serif;'
}

/* RIGHT SIDE PANELS */
.panel {
	background: rgba(63, 65, 46, 0.65) !important;
	box-shadow: none !important;
	border: 3px dashed #9cab95 !important;
	color: #9cab95 !important;
	border-radius: 10px
}

/* ENERGY BAR BACKGROUND */
.progress {
	background: rgba(69, 77, 55, 0.65);
	color: #9cab95 !important;
	border-radius: 10px !important
}

/* ENERGY BAR COLOR */
.progress-bar {
	background: linear-gradient(90deg, rgba(91,94,66,1) 0%, rgba(54,56,39,1) 100%);
	color: #9cab95 !important;
	border-radius: 10px !important
}

/* ENERGY BAR TEXT */
.progress div {
	color: #9cab95 !important
}

/* CHAT */

.s-chat-message:nth-child(even) /* Even Numbered Messages */ {
	background: rgba(54, 56, 39, 0.65) !important;
        color: #9cab95 !important;
	border: 3px dashed #9cab95 !important
}

.s-chat-message:nth-child(odd) /* Odd Numbered Messages */ {
	background: rgba(91, 94, 66, 0.65) !important;
        color: #9cab95 !important;
	border: 3px dashed #9cab95 !important
}

.s-chat-message__pinned /* Pinned Message */ {
	background: linear-gradient(90deg, rgba(91,94,66,1) 0%, rgba(54,56,39,1) 100%) !important;
        color: #9cab95 !important;
	border: 3px dashed #9cab95 !important
}

.s-chat-message_timestamp /* Timestamps */ {
	color: #9cab95 !important;
}

div#chatMessageContainer {
	border: 3px dashed #9cab95 !important;
}

button#label_currentChannel /* Channel Button ie. Main, Sales */ {
	background: rgba(72, 75, 52, 0.65) !important;
        color: #9cab95 !important;
	border: 3px dashed #9cab95 !important
}

/* LION INFO TABLE (Level, Stats, Territory Count, Etc.) */


/* PANEL BACKGROUND COLOR */

.table {
	background: rgba(81, 84, 59, 0.65);
	border: 3px dashed #9cab95 !important;
	border-collapse: separate;
	border-radius: 10px
}
.table {
	color: #9cab95; 
}


/* HEADERS COLOR (King Name + Title, "There are _ lions with mutations in _'s pride.") */

.top,
.bottom,
th {
	background: linear-gradient(90deg, rgba(91,94,66,1) 0%, rgba(54,56,39,1) 100%) !important;
	color: #9cab95 !important;
	border-radius: 10px
}

td.bottom a {
        text-decoration: none !important
}

/* Color behind "Level, Stats, Branch, Territory" etc. */

.inner-table .left {
	background: linear-gradient(90deg, rgba(91,94,66,1) 0%, rgba(54,56,39,1) 100%) !important;
        color: #9cab95;
	border-radius: 10px
}


/* Color behind the number of all of the things above */

.inner-table .right {
	background: none;
	border-radius: 10px !important
}

td.right {
	border-radius: 10px !important
}

/* IGNORE */
.right_odd {
	background: none !important
}

/* Affects the color behind "_ Unsorted", "_ Pregnant Lionesses", "View Pride Overview", and cave/mound names */

.cave-grid,
.mound-grid {
	background: rgba(54, 56, 39, 0.65);
	border: 3px dashed #9cab95 !important;
	border-radius: 10px !important
}

/* FEED ALL, PLAY ALL */

.feature {
	background: rgba(91, 94, 66, 0.65) !important;
	color: #9cab95 !important;
	border: 3px dashed #9cab95 !important;
	border-radius: 10px !important
}

/* "King Dynasty, Pride Dynasty, Achievements, Showcase" Panels */

.feature,
div.left {
	background: rgba(72, 75, 52, 0.65);
	border: 3px dashed #9cab95;
	border-radius: 10px !important
}

/* Block of color behind "Territory Description, Player Name, Avatar URL" etc. */

.table .left {
	background: rgba(81, 84, 59, 0.65);
        border-radius: 10px
}
.inner-table .right {
	color: #9cab95;
}

/* Color behind the content of the elements listed above */

input,
select,
textarea {
	background: rgba(63, 65, 46, 0.5) !important;
	border: 3px dashed #9cab95 !important;
	border-radius: 10px !important;
	color: #9cab95 !important;
	box-shadow: none !important;
	text-shadow: none !important
}

/* ACCOUNT OPTIONS PANELS  (Friend Requests Toggles, etc.) */

.item-header {
	background: linear-gradient(90deg, rgba(91,94,66,1) 0%, rgba(54,56,39,1) 100%) !important;
	color: #9cab95 !important;
	border-radius: 10px !important;
}

.item {
	background: rgba(63, 65, 46, 0.65) !important;
	border: 3px dashed #9cab95 !important;
	border-radius: 10px !important
}

/* ACCOUNT OPTIONS ON/OFF TOGGLE SWITCH */

div.slider.round /* Background */ {
	background: #363827 !important
}

div.slider.round::before /* Circle Part */ {
	background: #5b5e42 !important
}

/* Copyright, Terms of Service, CoC, etc. */

div.container.footer.center.white.visible-lg.visible-md.visible-sm, div.container.footer.center.white.visible-lg.visible-md.visible-sm a {
        color: #000000 !important;
        text-shadow: none !important
}

/* LINK COLOR */

a:link,
a:visited {
	color: #ffffff !important
}

/* LINK HOVER COLOR */

a:hover {
	color: #ffffff !important
}


/* BOX CONTAINER */

.boxcontainer {
	background: none;
	height: auto;
	padding: 0px;
	justify-content: center;
	display: flex
}

/* BOXES */

.smallbox {
	float: left;
	background: rgba(1, 1, 1, 0.5);
	color: #000000;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 150px;
	width: 28.4%;
	overflow: auto
}

.mediumbox {
	float: left;
	background: rgba(1, 1, 1, 0.5);
	color: #000000;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 150px;
	width: 43.8%;
	overflow: auto
}

.largebox {
	float: left;
	background: rgba(1, 1, 1, 0.5);
	color: #000000;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 150px;
	width: 90%;
	overflow: auto
}

/* HOVER BOXES */

.smallhoverbox {
	float: left;
	background: rgba(1, 1, 1, 0.5);
	color: #000000;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 50px;
	width: 28.4%;
	overflow: auto;
        transition: 3s
}

.smallhoverbox:hover {
	height: 150px;
	width: 28.4%;
}

.mediumhoverbox {
	float: left;
	background: rgba(1, 1, 1, 0.5);
	color: #000000;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 50px;
	width: 43.8%;
	overflow: auto;
        transition: 3s
}

.mediumhoverbox:hover {
	height: 150px;
	width: 43.8%;
}

.largehoverbox {
	float: left;
	background: rgba(1, 1, 1, 0.5);
	color: #000000;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 150px;
	width: 90%;
	overflow: auto;
        transition: 3s
}

.largehoverbox:hover {
	height: 150px;
	width: 90%;
}

/* SCROLL BAR */

/* WIDTH */

::-webkit-scrollbar {
	width: 10px
}


/* BACKGROUND */

::-webkit-scrollbar-track {
	background: #363827
}


/* "THUMB" */

::-webkit-scrollbar-thumb {
	background: #5b5e42;
	border-radius: 0px
}


/* LION AND USER AVATAR OPACITY */

div#lion_image {
	opacity: 1
}

table#player img {
	opacity: 1
}


/* CIRCULAR LION AND USER AVATAR */

div#lion_image {
	border-radius: 30% !important;
	overflow: hidden;
	margin-top: 15px; /* May need adjusting */
	margin-left: 12px /* May need adjusting */
}

table#player img {
	border-radius: 30% !important;
	overflow: hidden
}


/* LIODEN LOGO REPLACER */

div.container.main>div:nth-child(1)>nav>div.navbar-header>a>img {
	content: url('https://i.ibb.co/r3LmqCj/Untitled275-20231208014521.pnghttps://i.ibb.co/7CB3XLX/Untitled276-20231207170237.png')
}

/* CAVE / MOUND IMAGES */

img[src$="nestingbanner.png"] {
  content: url("https://i.ibb.co/kqFys3T/Untitled283-20231208120725.png") !important;
}

img[src$="overviewbanner.png"] {
  content: url("https://i.ibb.co/kqFys3T/Untitled283-20231208120725.png") !important;
}

img[src$="unsortedlionsbanner.png"] {
  content: url("https://i.ibb.co/kqFys3T/Untitled283-20231208120725.png") !important;
}

img[src$="cavedefault.jpg"] {
  content: url("https://i.ibb.co/j4yFTYS/Untitled272-20231208120746.png") !important;
}

.mound-grid img /* Mound(s) */ {
	background: url("https://i.ibb.co/PWw2cxL/Untitled273-20231208120803.png");
	width: 0;
	height: 0;
	padding-top: 80px;
	padding-right: 130px
}

/*-------------------------*/
/*Comment Box CODE BY HOK-Z*/
/*-------------------------*/
#commentBox {
  background: rgba(91, 94, 66, 0.65);
 border: 3px dashed #9cab95 !important;}

div.comment {background: linear-gradient(90deg, rgba(91,94,66,1) 0%, rgba(54,56,39,1) 100%) !important;
            border-bottom: 3px dashed #9cab95;
            font-weight: bold;}

div#makeComment {background: rgba(81, 84, 59, 0.65) !important;
                border: 3px dashed #9cab95;
                border-radius: 10px;}

div.commentText {color: #9cab95;}

input#comment {background: #3f412e !important;
              color: #5b5e42 important;}

input[type="button"].bad {background: rgba(72, 75, 52, 0.65) !important;}

.commentTag.clear {border: 3px dashed #9cab95;}


/* MAKES BOXES/DESCRIPTION SHOW ON MOBILE */

@media only screen and (max-width: 767px) {
        .container.main .hidden-xs {
            display: block !important;
        }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
	display: block !important;
}

@media only screen and (min-width: 1200px) {
		div.quote {
			width: 790px;
		}
}
