/*
Free to use CSS template by Katie (#106445).
This code may be altered, edited, or re-uploaded. 
This template may be used to create paid codes (pre-mades and commissions).
Please do NOT remove this credit, unless your coding becomes unrecognizable from this one! 
*/

/* FONT (From Google Fonts) */

@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Salsa&display=swap');

/* BACKGROUND */

body {
	background: url('https://i.ibb.co/3CVyMwV/Untitled318-20240105111227.png') no-repeat center center fixed;
	background-size: cover;
	font-family: 'Salsa', cursive;';
	color: #c27cbb
}

/* MAIN PANEL */

/* RIGHT SIDE */
.container.main {
	background: rgba(255, 227, 232, 0.25);
	border: 3px double #c27cbb;
	box-shadow: 5px 10px 7px #946990;
	border-radius: 15px
}

/* LEFT SIDE */
.col-md-9 {
	background: none;
        border-right: 3px double #c27cbb
}

/* TOPBAR ("Welcome back, ___") */

.topbar {
	background: linear-gradient(0deg, rgba(255,201,245,1) 0%, rgba(251,143,162,1) 100%);
	border: 3px double #c27cbb;
	border-top: 3px double #c27cbb;
	color: #c27cbb;
	border-radius: 15px;
}

/* NAVBAR (Den/Crossroads/Etc.) */

.navbar {
	background: linear-gradient(0deg, rgba(186,112,124,1) 0%, rgba(255,235,239,1) 100%);
	border-bottom: 3px double #c27cbb;
	color: #c27cbb;
	border-radius: 15px
}

/* NAVBAR BUTTON TEXT COLOR */

.navbar li a {
	color: #c27cbb !important
}

/* NAVBAR BUTTON HOVER */

.navbar li a:hover {
	background: linear-gradient(0deg, rgba(186,112,124,1) 0%, rgba(255,235,239,1) 100%) !important;
	border-bottom: 3px double #c27cbb;
	color: #c27cbb !important;
	border-radius: 15px
}

/* BREADCRUMB (Home / Den) */

.breadcrumb {
	background: linear-gradient(0deg, rgba(255,192,203,1) 0%, rgba(255,240,243,1) 100%) !important;
        border: 3px double #c27cbb;
	border-radius: 15px
}

/* BREADCRUMB TEXT */

.breadcrumb .active {
	color: #c27cbb
}

/* CSS CREDIT */

.breadcrumb::after {
        content: "Template by Katie (#106445)|CSS by Red (#261489)";
        color: #c27cbb;
        position: absolute;
        right: 13%; /* (This may need adjusting) */
        z-index: 100
    }

@media only screen and (max-width: 1199px) and (min-width: 992px)  {
        .breadcrumb::after {
            right: 20%
        }
    }

    @media only screen and (max-width: 991px) and (min-width: 768px)  {
        .breadcrumb::after {
            right: 20%
        }
    }

    @media only screen and (max-width: 767px) {
        .breadcrumb::after {
            right: 22%
        }
    }

/* BOOKMARK BUTTON */

input.floatright, input.floatright:hover {
	background: linear-gradient(0deg, rgba(186,112,124,1) 0%, rgba(255,235,239,1) 100%) !important;
        border: 3px double #c27cbb !important;
	border-radius: 15px;
	color: #c27cbb !important;    
}

/* SWITCH ACCOUNT BUTTON */

button.button, button.button:hover {
	background: linear-gradient(0deg, rgba(186,112,124,1) 0%, rgba(255,235,239,1) 100%);
        border: 3px double #c27cbb !important;
	border-radius: 15px;
        text-shadow: none !important;
	color: #c27cbb !important
}

/* ALERTS (ie. "Your lionesses have returned from hunting!") */

.alert,
.alert-warning,
.alert-danger {
	background: linear-gradient(0deg, rgba(255,201,245,1) 0%, rgba(251,143,162,1) 100%) !important;
	border: 3px double #c27cbb;
	color: #c27cbb;
	border-radius: 15px !important
}

/* BIGGEST HEADER ("___"'s DEN) */

h1 {
	color: #521441;
	font-size: 100px;
	text-align: center;
        font-family: 'Lemon', serif;'
}


/* MEDIUM HEADER */

h2 {
	color: #521441;
	font-size: 30px;
	text-align: center
}


/* SMALL HEADER */

h3 {
	color: #521441 !important;
	font-size: 20px !important
}

/* RIGHT SIDE PANEL HEADER */

.sidebar h3 {
	color: #521441 !important;
        font-size: 30px !important;
        font-family: 'Lemon', serif;'
}

/* RIGHT SIDE PANELS */
.panel {
	background: linear-gradient(0deg, rgba(255,192,203,1) 0%, rgba(255,240,243,1) 100%) !important;
	box-shadow: 5px 10px 7px #946990 !important;
	border: 3px double #c27cbb !important;
	color: #c27cbb !important;
	border-radius: 15px
}

/* ENERGY BAR BACKGROUND */
.progress {
	background: linear-gradient(0deg, rgba(255,192,203,1) 0%, rgba(255,240,243,1) 100%);
	color: #c27cbb !important;
	border-radius: 15px !important
}

/* ENERGY BAR COLOR */
.progress-bar {
	background: linear-gradient(0deg, rgba(255,201,245,1) 0%, rgba(251,143,162,1) 100%);
	color: #c27cbb !important;
	border-radius: 15px !important
}

/* ENERGY BAR TEXT */
.progress div {
	color: #c27cbb !important
}

/* CHAT */

.s-chat-message:nth-child(even) /* Even Numbered Messages */ {
	background: rgba(1, 1, 1, 0.5) !important;
        color: #000000 !important;
	border: none !important
}

.s-chat-message:nth-child(odd) /* Odd Numbered Messages */ {
	background: rgba(1, 1, 1, 0.5) !important;
        color: #000000 !important;
	border: none !important
}

.s-chat-message__pinned /* Pinned Message */ {
	background: rgba(1, 1, 1, 0.5) !important;
        color: #000000 !important;
	border: none !important
}

.s-chat-message_timestamp /* Timestamps */ {
	color: #000000 !important;
}

div#chatMessageContainer {
	border: none !important;
}

button#label_currentChannel /* Channel Button ie. Main, Sales */ {
	background: rgba(1, 1, 1, 0.5) !important;
        color: #000000 !important;
	border: none !important
}

/* LION INFO TABLE (Level, Stats, Territory Count, Etc.) */


/* PANEL BACKGROUND COLOR */

.table {
	background: linear-gradient(0deg, rgba(255,192,203,1) 0%, rgba(255,240,243,1) 100%);
	border: 3px double #c27cbb !important;
	border-collapse: separate;
	border-radius: 15px
}

.table {
	color: #c27cbb;
}

.inner-table .right {
	border: 3px double #c27cbb;
}


/* HEADERS COLOR (King Name + Title, "There are _ lions with mutations in _'s pride.") */

.top,
.bottom,
th {
	background: linear-gradient(0deg, rgba(255,201,245,1) 0%, rgba(251,143,162,1) 100%) !important;
	color: #c27cbb !important;
	border-radius: 15px
}

td.bottom a {
        text-decoration: none !important
}

/* Color behind "Level, Stats, Branch, Territory" etc. */

.inner-table .left {
	background: linear-gradient(0deg, rgba(255,201,245,1) 0%, rgba(251,143,162,1) 100%) !important;
        color: #c27cbb;
	border-radius: 15px
}


/* Color behind the number of all of the things above */

.inner-table .right {
	background: none;
	border-radius: 15px !important
}

td.right {
	border-radius: 15px !important
}

/* IGNORE */
.right_odd {
	background: none !important
}

/* Affects the color behind "_ Unsorted", "_ Pregnant Lionesses", "View Pride Overview", and cave/mound names */

.cave-grid,
.mound-grid {
	background: linear-gradient(0deg, rgba(255,192,203,1) 0%, rgba(255,240,243,1) 100%);
	border: 3px double #c27cbb !important;
	border-radius: 15px !important
}

/* FEED ALL, PLAY ALL */

.feature {
	background: linear-gradient(0deg, rgba(186,112,124,1) 0%, rgba(255,235,239,1) 100%) !important;
	color: #c27cbb !important;
	border: 3px double #c27cbb !important;
	border-radius: 15px !important
}

/* "King Dynasty, Pride Dynasty, Achievements, Showcase" Panels */

.feature,
div.left {
	background: linear-gradient(0deg, rgba(186,112,124,1) 0%, rgba(255,235,239,1) 100%);
	border: 3px double #c27cbb;
	border-radius: 15px !important
}

/* Block of color behind "Territory Description, Player Name, Avatar URL" etc. */

.table .left {
	background: linear-gradient(0deg, rgba(255,192,203,1) 0%, rgba(255,240,243,1) 100%);
        border-radius: 15px
}

.inner-table .right {
	color: #c27cbb;
}

/* Color behind the content of the elements listed above */

input,
select,
textarea {
	background: linear-gradient(0deg, rgba(255,192,203,1) 0%, rgba(255,240,243,1) 100%) !important;
	border: 3px double #c27cbb !important;
	border-radius: 0px !important;
	color: #c27cbb !important;
	box-shadow: 5px 10px 7px #c27cbb !important;
	text-shadow: none !important
}

/* ACCOUNT OPTIONS PANELS  (Friend Requests Toggles, etc.) */

.item-header {
	background: linear-gradient(0deg, rgba(255,201,245,1) 0%, rgba(251,143,162,1) 100%) !important;
	color: #c27cbb !important;
	border-radius: 15px !important;
}

.item {
	background: linear-gradient(0deg, rgba(186,112,124,1) 0%, rgba(255,235,239,1) 100%) !important;
	border: 3px double #c27cbb !important;
	border-radius: 15px !important
}

/* ACCOUNT OPTIONS ON/OFF TOGGLE SWITCH */

div.slider.round /* Background */ {
	background: #946990 !important
}

div.slider.round::before /* Circle Part */ {
	background: #FFFFFF !important
}

/* Copyright, Terms of Service, CoC, etc. */

div.container.footer.center.white.visible-lg.visible-md.visible-sm, div.container.footer.center.white.visible-lg.visible-md.visible-sm a {
        color: #c27cbb !important;
        text-shadow: none !important
}

/* LINK COLOR */

a:link,
a:visited {
	color: #ffffff !important
}

/* LINK HOVER COLOR */

a:hover {
	color: #ffffff !important
}


/* BOX CONTAINER */

.boxcontainer {
	background: none;
	height: auto;
	padding: 0px;
	justify-content: center;
	display: flex
}

/* BOXES */

.smallbox {
	float: left;
	background: rgba(1, 1, 1, 0.5);
	color: #000000;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 150px;
	width: 28.4%;
	overflow: auto
}

.mediumbox {
	float: left;
	background: rgba(1, 1, 1, 0.5);
	color: #000000;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 150px;
	width: 43.8%;
	overflow: auto
}

.largebox {
	float: left;
	background: rgba(1, 1, 1, 0.5);
	color: #000000;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 150px;
	width: 90%;
	overflow: auto
}

/* HOVER BOXES */

.smallhoverbox {
	float: left;
	background: rgba(1, 1, 1, 0.5);
	color: #000000;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 50px;
	width: 28.4%;
	overflow: auto;
        transition: 3s
}

.smallhoverbox:hover {
	height: 150px;
	width: 28.4%;
}

.mediumhoverbox {
	float: left;
	background: rgba(1, 1, 1, 0.5);
	color: #000000;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 50px;
	width: 43.8%;
	overflow: auto;
        transition: 3s
}

.mediumhoverbox:hover {
	height: 150px;
	width: 43.8%;
}

.largehoverbox {
	float: left;
	background: rgba(1, 1, 1, 0.5);
	color: #000000;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 150px;
	width: 90%;
	overflow: auto;
        transition: 3s
}

.largehoverbox:hover {
	height: 150px;
	width: 90%;
}

/* SCROLL BAR */

/* WIDTH */

::-webkit-scrollbar {
	width: 15px
}


/* BACKGROUND */

::-webkit-scrollbar-track {
	background: #ffffff
}


/* "THUMB" */

::-webkit-scrollbar-thumb {
	background: #946990;
	border-radius: 15px
}


/* LION AND USER AVATAR OPACITY */

div#lion_image {
	opacity: 1
}

table#player img {
	opacity: 1
}


/* CIRCULAR LION AND USER AVATAR */

div#lion_image {
	border-radius: 30% !important;
	overflow: hidden;
	margin-top: 15px; /* May need adjusting */
	margin-left: 12px /* May need adjusting */
}

table#player img {
	border-radius: 30% !important;
	overflow: hidden
}


/* LIODEN LOGO REPLACER */

div.container.main>div:nth-child(1)>nav>div.navbar-header>a>img {
	content: url('https://i.ibb.co/Pzvw9r2/Untitled276-20240105111026.png')
}

/* CAVE / MOUND IMAGES */

img[src$="nestingbanner.png"] {
  content: url("https://i.ibb.co/qmVPwY5/Untitled319-20240105111348.png") !important;
}

img[src$="overviewbanner.png"] {
  content: url("https://i.ibb.co/qmVPwY5/Untitled319-20240105111348.png") !important;
}

img[src$="unsortedlionsbanner.png"] {
  content: url("https://i.ibb.co/qmVPwY5/Untitled319-20240105111348.png") !important;
}

img[src$="cavedefault.jpg"] {
  content: url("https://i.ibb.co/jZXDLZ9/Untitled319-20240105111400.png") !important;
}

.mound-grid img /* Mound(s) */ {
	background: url("https://i.ibb.co/R3LRF7K/Untitled278-20240105111506.png");
	width: 0;
	height: 0;
	padding-top: 80px;
	padding-right: 130px
}

/* Codes made by Pandora #144118 and Kat .:Red Lion of Voltron:. #94329 
Codes may be edited, used in commissions or for personal use
Please do not remove credit
*/
 
/* KING DYNASTY */
img[src$="ancestors.jpg"] {
    content:url('https://i.ibb.co/qmVPwY5/Untitled319-20240105111348.png')!important;
    width:185px!important;
 
}
 
/* PRIDE DYNASTY */
img[src$="ancestorsfem.png"] {
    content:url('https://i.ibb.co/qmVPwY5/Untitled319-20240105111348.png')!important;
    width:185px!important;
 
}
 
/* ACHIEVMENTS */
img[src$="achievements.jpg"] {
    content:url('https://i.ibb.co/qmVPwY5/Untitled319-20240105111348.png')!important;
    width:185px!important;
 
}
 
/* SHOWCASE */
img[src$="showcase/banner.png"] {
    content:url('https://i.ibb.co/qmVPwY5/Untitled319-20240105111348.png')!important;
    width:185px!important;
 
}

/* SIDEBAR ARROWS */
 
/* TOP */
 
div.col-xs-6 > a > h3 > div {
    content:url('https://i.ibb.co/1JVdstr/f2u-sakura-by-ho-ne-y-ddq2ye5.png');
    position:relative;
    width:20px;
}
 
/* MIDDLE */
 
div.col-xs-5> a:nth-child(1) > h3 > div {
    content:url('https://i.ibb.co/1JVdstr/f2u-sakura-by-ho-ne-y-ddq2ye5.png');
    position:relative;
    width:20px;
}
 
/* BOTTOM */
 
div.col-xs-5> a:nth-child(3) > h3 > div {
    content:url('https://i.ibb.co/1JVdstr/f2u-sakura-by-ho-ne-y-ddq2ye5.png');
    position:relative;
    width:20px;
}

/*-------------------------*/
/*Comment Box CODE BY HOK-Z*/
/*-------------------------*/
#commentBox {
  background: linear-gradient(0deg, rgba(255,192,203,1) 0%, rgba(255,240,243,1) 100%);
 border: 3px double #c27cbb !important;}

div.comment {background: linear-gradient(0deg, rgba(186,112,124,1) 0%, rgba(255,235,239,1) 100%) !important;
            border-bottom: 3px double #c27cbb;
            font-weight: bold;}

div#makeComment {background: linear-gradient(0deg, rgba(255,201,245,1) 0%, rgba(251,143,162,1) 100%) !important;
                border: 3px double #c27cbb;
                border-radius: 15px;}

div.commentText {color: #c27cbb;}

input#comment {background: #c27cbb !important;
              color: white !important;}

input[type="button"].bad {background: linear-gradient(0deg, rgba(255,201,245,1) 0%, rgba(251,143,162,1) 100%)  !important;}

.commentTag.clear {border: 3px double #c27cbb;}

.box {
     position: relative;
}
.box-topper {
     content: url('https://i.ibb.co/1JVdstr/f2u-sakura-by-ho-ne-y-ddq2ye5.png');
     position: absolute;
     top: -30px;
     right: -30px;
     z-index: 2;
}

/* CUSTOM LAYOUTS */
    .pun-credit {
        position: fixed;
        bottom: 0px;
        right: 10px;
        color: #c27cbb !important;
        font-size: 15px;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-align: center;
        background: linear-gradient(0deg, rgba(255,192,203,1) 0%, rgba(255,240,243,1) 100%) !important;
        padding: 5px;
    }
    .pun-credit a {
        color: #c27cbb !important;
    }
    .pun-credit a:hover {
        opacity: 1 !important;
    }
    .pun-credit:hover {
        opacity: 1;
        transition: 2s;
    }
    .pun-table {
        width: 640px;
        background: url('https://i.ibb.co/b6T9Cjt/pastel-pink-background-by-sassycthulhu-d8jdh3t.png') center center no-repeat;
        background-size: cover;
        border-radius: 25px;
        opacity: 0.9;
        border: 3px double #c27cbb !important;
        box-shadow: 5px 10px 7px #946990;
        margin: auto;
    }
    .pun-spacer {
        background: none;
        width: 350px;
    }
    .pun-content {
        background: linear-gradient(0deg, rgba(255,192,203,1) 0%, rgba(255,240,243,1) 100%) !important;
        text-align: center;
        height: 300px;
        overflow: auto;
        width: 280px;
        padding: 10px;
        border-radius: 25px;
        font-size: 15px;
        color: #c27cbb !important;


    }
    .pun-content h3 {
        margin: 0 0 10px 0;
        border-bottom: 3px double #c27cbb;
        text-align: center;
    }
    .pun-content a {
        font-weight: bold !important;
        opacity: 1;
    }
    .pun-content a:hover {
        opacity: 1 !important;
    }
    .pun-links {
        background: linear-gradient(0deg, rgba(255,192,203,1) 0%, rgba(255,240,243,1) 100%) !important;
        background: linear-gradient(0deg, rgba(255,192,203,1) 0%, rgba(255,240,243,1) 100%) !important;
        color: #c27cbb;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: bold;
        letter-spacing: 1px;
        text-align: center;
        border-radius: 15px;
    }
    .pun-links a {
        color: #FFFFFF !important;
    }
    .pun-title {
        text-align: center;
        color: #c27cbb;
        font-size: 64px;
        letter-spacing: 2px;
        font-family: 'Lemon', serif;
        opacity: 0.9;
    }

.pun-art {
    width: 100%;
    height: 60px;
    color: #c27cbb;
    text-align: center;
    background: none;
    border-radius: 5px;
    opacity: 0.8;
    overflow: hidden;
    }
.pun-art:hover {
    height: auto;
}

/* MAKES BOXES/DESCRIPTION SHOW ON MOBILE */

@media only screen and (max-width: 767px) {
        .container.main .hidden-xs {
            display: block !important;
        }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
	display: block !important;
}

@media only screen and (min-width: 1200px) {
		div.quote {
			width: 790px;
		}
  }
