
<div class="container topbar"> {
      background: linear-gradient(90deg, rgba(172,132,2,1) 0%, rgba(244,203,102,1) 50%, rgba(172,132,2,1) 100%);
}

				<div class="hidden-xs hidden-sm welcomeback">Welcome back, <a href="/territory.php">Redlesbian [Haze MRLC]</a></div>
		<ul class="toplinks">
			<li style="padding: 0px !important;"><a href="/inbox.php">Messages</a></li>
			<li><a href="/spend-history.php?type=sb"><img src="//static.lioden.com/img/layout/icon-beetle-silver.png" class="icon"> <span id="silverBeetlesAmt">1359</span></a></li>
			<li><a href="/spend-history.php?type=gb"><img src="//static.lioden.com/img/layout/icon-beetle-gold.png" class="icon"> <span id="goldBeetlesAmt">0</span></a></li>
			<li><a href="/journal.php">Journal</a></li>
			<li><a href="/modbox.php">Modbox</a>			</li>
			<li><a href="https://www.lioden.wiki" target="_blank">Wiki</a></li>
			<li><a href="/logout.php" onclick="return confirm('Are you sure you want to logout?')">Logout</a></li>
		</ul>
			</div>
<div class="container main">
		<div class="row">
			<nav class="navbar navbar-default" role="navigation">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand visible-lg visible-md" href="/">
					
						<img src="//static.lioden.com/img/layout/logo-full-2.png" alt="Lioden"></a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav visible-lg">
					<li><a href="/territory.php">Den</a></li>
					<li><a href="/explore.php">Crossroads</a></li>
					<li><a href="/hoard.php">Hoard</a></li>
					<li><a href="/oasis.php">Oasis</a></li>
					<li><a href="/boards.php">Chatter</a></li>
					<li><a href="/news.php">News</a></li>
					<li><a href="/event.php">Event</a></li>
					<li><a href="/faq.php">FAQ</a></li>
				</ul>
				<ul class="nav navbar-nav visible-xs visible-sm visible-md smaller-nav">
					<li><a href="/territory.php">Den</a></li>
					<li><a href="/explore.php">Crossroads</a></li>
					<li><a href="/hoard.php">Hoard</a></li>
					<li><a href="/oasis.php">Oasis</a></li>
					<li><a href="/boards.php">Chatter</a></li>
					<li><a href="/news.php">News</a></li>
					<li><a href="/event.php">Event</a></li>
					<li><a href="/faq.php">FAQ</a></li>
				</ul>
				</div>
			</nav>
		</div>
		<div class="row">
			<div class="col-md-9 col-xs-12">
				<ol class="breadcrumb">
					<li><a href="/">Home</a></li>
					<li><a href="/clans.php">Clans</a></li>
<li class="breadcrumb-item active">+ Lioden United +</li>				</ol>

								<div class="floatright" style="width: 160px; margin: -53px 5px 0 0;">
					<form method="post">
						<input type="hidden" name="page_url" value="/clan.php?id=3560">
						<input type="submit" name="bookmark" value="Bookmark" class="floatright">
					</form>
				</div>
				<div class="alert alert-success">You have updated the clan successfully! </div><div class="alert alert-success">You can flirt again! <a href="/aphrodisia.php?clearNotice=1">Visit Aphrodisia →</a></div><br><style>.chat_row, .table .right { background-image: none !important; }</style>

<h1>+ Lioden United +</h1>

	<p></p><table class="table">
		<tbody><tr>
			<td class="top" colspan="2">Clan Details</td>
		</tr>
		<form method="post"></form>
		<tr class="right" style="text-align: center;">
			<td style="width: 200px; padding: 10px;">
				<br>
				<img src="https://www.simpleimageresizer.com/_uploads/photos/ac139104/IMG_8672_150x80.jpeg"><br>
				<b>Run By:</b> <a href="/territory.php?id=270895">CORVID ✧ g1 4ros unholy ticked (#270895)</a>

				<br><br>
				<a href="/clan.php?id=3560&amp;view=hoard"><img src="//static.lioden.com/images/layout/clanhoard.png" height="100" width="100"><br>Clan Hoard</a>

				<br><br>
				<a href="/clan.php?id=3560&amp;view=raffles"><img src="//static.lioden.com/images/layout/clanraffles.png" height="100" width="100"><br>Clan Raffles</a>

			</td>
			<td class="right">
				<div class="xlarge b">
					"United all around the globe!"
				</div>
								<table class="inner-table auto">
					<tbody><tr>
						<td class="left" width="25%"><b>Admins:</b></td>
						<td class="right" colspan="4">
						<a href="/territory.php?id=261489">Redlesbian [Haze MRLC] (#261489)</a>						</td>
					</tr>
					<tr>
						<td class="left"><b>Thread:</b></td>
						<td class="right">None yet!</td>
						<td width="3"></td>
						<td class="left"><b>Members:</b></td>
						<td class="right"><a href="/clan.php?id=3560&amp;view=members">1580/1650 (0 pending)</a> <br><input type="checkbox" name="source2" value="1"> Use Clan SB? <br><button class="button" type="submit" name="expandclan" value="1" onclick="return confirm('Are you sure you wish to expand the member limit by 10 for 1000 SB?')">Expand By 10! (1000 SB)</button></td>
					</tr>
					<tr>
						<td class="left"><b>Banked SB:</b></td>
						<td class="right"><img src="//static.lioden.com/images/icon_beetlesilver.png"> 14,672</td>
						<td width="3"></td>
						<td class="left"><b>Banked GB:</b></td>
						<td class="right"><img src="//static.lioden.com/images/icon_beetlegold.png"> 5</td>
					</tr>
					<tr>
						<td class="left"><b>Bank Transactions:</b></td>
						<td class="right" colspan="4"><a href="/clan.php?id=3560&amp;view=transactions">View</a></td>
					</tr>
					<tr>
						<td class="left"><b>Donate:</b></td>
						<form method="post"></form>
						<td class="right" colspan="4">						<b>Amount:</b> <input type="text" name="amount" size="7"><br>
						<b>Type:</b> <img src="//static.lioden.com/images/icon_beetlesilver.png"> SB <input type="radio" value="sb" name="donatetype">  <img src="//static.lioden.com/images/icon_beetlegold.png"> GB <input type="radio" value="gb" name="donatetype"><br>
						<b>Reason:</b> <input type="text" name="reason" maxlength="100"> <br><font size="1">(Leave blank for Anonymous)</font><br>
						<button class="button" type="submit" name="donate" value="1" onclick="return confirm('Are you sure?')">Donate!</button>
						</td>
						
					</tr>
					<tr>
						<td class="left" width="25%"><b>Memberships Open:</b></td>
						<form method="post"></form><td class="right" colspan="4">Yes - You're a member! <button class="button" type="submit" name="leaveclan" value="1" onclick="return confirm('Are you sure you want to leave this clan?')">Leave Clan?</button>						</td>
					</tr>
					<tr>
													<td class="left" width="25%"><b>Paid Until:</b></td>
							<td class="right" colspan="4">
								This clan requires its monthly renewal fee on May 31st, 2025.
							</td>
											</tr>
					<tr>
							<td class="left" width="25%"><b>Clan Activity Log:</b></td>
							<td class="right" colspan="4"><a href="/clan.php?id=3560&amp;view=activity">View</a></td>
					</tr>
				</tbody></table>
							</td>
		</tr>
		<tr>
			<td class="bottom" colspan="100%">
				<br>
			</td>
		</tr>
		
	</tbody></table>
	<p></p>

	
	<p>
	</p><h2>Clan Description</h2>
	<div class="page-description">
		<div>
			<link rel="stylesheet" type="text/css" href="https://redlesbian.github.io/CSS-code/WHY.css"><br>
<div class="boxcontainer"><div class="largebox"><h2><b><u>Clan Rules</u></b><u></u></h2>⇢ ˗ˏˋ <b><u>𝐂𝐋𝐀𝐍 𝐑𝐔𝐋𝐄𝐒</u></b> ࿐ྂ<br>
<br>
<sub>1 . <b>FOLLOW ALL OF LIODEN'S TOS.</b><br>
we will be reporting any and all breaking of the TOS and you will be kicked immediately if you are found to have broken anything .<br>
 this INCLUDES being under the required age .</sub><br>
<br>
<sub>2 . <b>BE KIND &amp; WELCOMING.</b><br>
any form of discrimination will not be tolerated here . this includes ( but is not limited to ) racism , homophobia , transphobia , sexism etc .<br>
we are a welcoming community and would appreciate your co - operation in keeping it that way !</sub><br>
<br>
<sub>3 . <b>NO SCAMMING.</b><br>
scamming won't be tolerated . don't purposefully say you'll trade something via gift and refuse to . don't scam people out of heats . any breaking of this<br>
rule will result in you being reported and immediately removed from the clan .</sub><br>
<br>
<sub>4 . <b>DO NOT BEG.</b><br>
no begging . you're permitted to take one item per day from the clan hoard . don't try and get<br>
more than that ! it's unfair to our other members .</sub></div></div><br>
<div class="boxcontainer"><div class="largebox"><h2><b><u>Clan Hoard Info</u></b><u></u></h2>⇢ ˗ˏˋ <b><u>𝐂𝐋𝐀𝐍 𝐇𝐎𝐀𝐑𝐃 𝐈𝐍𝐅𝐎𝐑𝐌𝐀𝐓𝐈𝐎𝐍</u></b> ࿐ྂ<br>
<br>
<a href="https://docs.google.com/document/d/1HkH--VNu0A7_4StB6hwkNle5X6j0IOcz84EW3V2mjIo/edit?usp=sharing">READ THIS BEFORE TAKING FROM THE HOARD !</a><br>
<br>
<sub> THIS ^^^ IS A LINK!<br>
<sub>we plan for our hoard to always be open following it's formal opening ! at the moment , it's temporarily closed until we gain some new members to let everyone have a chance at getting something good ! due to an increase in members , we ask that you re - donate something of similar or equal value if you take something from the hoard .<br>
<br>
clan members will be permitted to take one item from the hoard per rollover &lt;3</sub></sub></div></div><br>
<div class="boxcontainer"><div class="largebox"><h2><b><u>Clan Raffles information</u></b><u></u></h2>⇢ ˗ˏˋ <b><u>𝐂𝐋𝐀𝐍 𝐑𝐀𝐅𝐅𝐋𝐄𝐒 𝐈𝐍𝐅𝐎𝐑𝐌𝐀𝐓𝐈𝐎𝐍</u></b> ࿐ྂ<br>
<br>
<sub>when it comes to our clan raffles , we're very proud to be able to offer quality prizes on a semi - frequent basis ! both admins have been playing lioden for a while and have been able to build up a good enough hoard to raffle certain items or lions off ! a message will be sent out whenever there is a clan raffle .<br>
<br>
all clan raffles will have cheap tickets , and any and all sb received from tickets goes back into the clan !<br>
<br>
<b><u>UPCOMING RAFFLE :</u></b><br>
TBD</sub></div></div><br>
<div class="boxcontainer"><div class="largebox"><h2><b><u>Official Clan Discord</u></b><u></u></h2><u>⇢ ˗ˏˋ <b><u>𝐎𝐅𝐅𝐈𝐂𝐈𝐀𝐋 𝐂𝐋𝐀𝐍 𝐃𝐈𝐒𝐂𝐎𝐑𝐃</u></b> ࿐ྂ<br>
<sub>https://discord.gg/BWakgztzz9<br>
<br>
come and join us in the official lioden united discord ! we host exclusive giveaways , competitions and are super excited to welcome new members to the community .</sub></u></div><u></u></div><u><br>
</u><div class="boxcontainer"><u></u><div class="largebox"><u></u><h2><u><b><u>Quicklinks</u></b><u></u></u></h2><u>text</u></div><u></u></div><u></u>		</div>
	</div>
	<p></p>

			<p>
		</p><h2>Clan Controls</h2>
					<form method="post">
			<table class="table">
				<tbody><tr>
					<td class="top" colspan="2">Mass Message Clan Members</td>
				</tr>
				<tr>
					<td class="left"><b>To:</b>
					</td><td class="right"><select name="totype"><option value="0">Admins Only</option><option value="1">All Members</option></select></td>
				</tr>
				<tr>
					<td class="left" valign="top"><b>Message:</b>
					</td><td class="right"><textarea name="message" rows="5" cols="50"></textarea></td>
				</tr>
				<tr>
					<td class="bottom" colspan="2"><button class="button" type="submit" name="preview" value="1">Preview</button> <button class="button" type="submit" name="send_msg" value="1" onclick="return confirm('Are you sure you want to send this message?')">Send Message!</button></td>
				</tr>
			</tbody></table>
			</form>
				<br>
		<form method="post">
		<table class="table">
			<tbody><tr>
				<th colspan="2">Edit Clan Details</th>
			</tr>
			<tr>
				<td class="left b" width="250">Clan Description:</td>
				<td class="right"><textarea name="desc" rows="" cols="" style="width: 100%; height: 200px;">&lt;link rel="stylesheet" type="text/css" href="https://redlesbian.github.io/CSS-code/WHY.css" /&gt;
&lt;div class="boxcontainer"&gt;&lt;div class="largebox"&gt;&lt;h2&gt;&lt;b&gt;&lt;u&gt;Clan Rules&lt;/u&gt;&lt;/b&gt;&lt;u&gt;&lt;/u&gt;&lt;/h2&gt;⇢ ˗ˏˋ &lt;b&gt;&lt;u&gt;𝐂𝐋𝐀𝐍 𝐑𝐔𝐋𝐄𝐒&lt;/u&gt;&lt;/b&gt; ࿐ྂ

&lt;sub&gt;1 . &lt;b&gt;FOLLOW ALL OF LIODEN'S TOS.&lt;/b&gt;
we will be reporting any and all breaking of the TOS and you will be kicked immediately if you are found to have broken anything .
 this INCLUDES being under the required age .&lt;/sub&gt;

&lt;sub&gt;2 . &lt;b&gt;BE KIND &amp;amp; WELCOMING.&lt;/b&gt;
any form of discrimination will not be tolerated here . this includes ( but is not limited to ) racism , homophobia , transphobia , sexism etc .
we are a welcoming community and would appreciate your co - operation in keeping it that way !&lt;/sub&gt;

&lt;sub&gt;3 . &lt;b&gt;NO SCAMMING.&lt;/b&gt;
scamming won't be tolerated . don't purposefully say you'll trade something via gift and refuse to . don't scam people out of heats . any breaking of this
rule will result in you being reported and immediately removed from the clan .&lt;/sub&gt;

&lt;sub&gt;4 . &lt;b&gt;DO NOT BEG.&lt;/b&gt;
no begging . you're permitted to take one item per day from the clan hoard . don't try and get
more than that ! it's unfair to our other members .&lt;/sub&gt;&lt;/div&gt;&lt;/div&gt;
&lt;div class="boxcontainer"&gt;&lt;div class="largebox"&gt;&lt;h2&gt;&lt;b&gt;&lt;u&gt;Clan Hoard Info&lt;/u&gt;&lt;/b&gt;&lt;u&gt;&lt;/u&gt;&lt;/h2&gt;⇢ ˗ˏˋ &lt;b&gt;&lt;u&gt;𝐂𝐋𝐀𝐍 𝐇𝐎𝐀𝐑𝐃 𝐈𝐍𝐅𝐎𝐑𝐌𝐀𝐓𝐈𝐎𝐍&lt;/u&gt;&lt;/b&gt; ࿐ྂ

&lt;a href="https://docs.google.com/document/d/1HkH--VNu0A7_4StB6hwkNle5X6j0IOcz84EW3V2mjIo/edit?usp=sharing"&gt;READ THIS BEFORE TAKING FROM THE HOARD !&lt;/a&gt;

&lt;sub&gt; THIS ^^^ IS A LINK!
&lt;sub&gt;we plan for our hoard to always be open following it's formal opening ! at the moment , it's temporarily closed until we gain some new members to let everyone have a chance at getting something good ! due to an increase in members , we ask that you re - donate something of similar or equal value if you take something from the hoard .

clan members will be permitted to take one item from the hoard per rollover &amp;lt;3&lt;/sub&gt;&lt;/sub&gt;&lt;/div&gt;&lt;/div&gt;
&lt;div class="boxcontainer"&gt;&lt;div class="largebox"&gt;&lt;h2&gt;&lt;b&gt;&lt;u&gt;Clan Raffles information&lt;/u&gt;&lt;/b&gt;&lt;u&gt;&lt;/u&gt;&lt;/h2&gt;⇢ ˗ˏˋ &lt;b&gt;&lt;u&gt;𝐂𝐋𝐀𝐍 𝐑𝐀𝐅𝐅𝐋𝐄𝐒 𝐈𝐍𝐅𝐎𝐑𝐌𝐀𝐓𝐈𝐎𝐍&lt;/u&gt;&lt;/b&gt; ࿐ྂ

&lt;sub&gt;when it comes to our clan raffles , we're very proud to be able to offer quality prizes on a semi - frequent basis ! both admins have been playing lioden for a while and have been able to build up a good enough hoard to raffle certain items or lions off ! a message will be sent out whenever there is a clan raffle .

all clan raffles will have cheap tickets , and any and all sb received from tickets goes back into the clan !

&lt;b&gt;&lt;u&gt;UPCOMING RAFFLE :&lt;/u&gt;&lt;/b&gt;
TBD&lt;/sub&gt;&lt;/div&gt;&lt;/div&gt;
&lt;div class="boxcontainer"&gt;&lt;div class="largebox"&gt;&lt;h2&gt;&lt;b&gt;&lt;u&gt;Official Clan Discord&lt;/u&gt;&lt;/b&gt;&lt;u&gt;&lt;/u&gt;&lt;/h2&gt;&lt;u&gt;⇢ ˗ˏˋ &lt;b&gt;&lt;u&gt;𝐎𝐅𝐅𝐈𝐂𝐈𝐀𝐋 𝐂𝐋𝐀𝐍 𝐃𝐈𝐒𝐂𝐎𝐑𝐃&lt;/u&gt;&lt;/b&gt; ࿐ྂ
&lt;sub&gt;https://discord.gg/BWakgztzz9

come and join us in the official lioden united discord ! we host exclusive giveaways , competitions and are super excited to welcome new members to the community .&lt;/sub&gt;&lt;/u&gt;&lt;/div&gt;&lt;u&gt;&lt;/u&gt;&lt;/div&gt;&lt;u&gt;
&lt;/u&gt;&lt;div class="boxcontainer"&gt;&lt;u&gt;&lt;/u&gt;&lt;div class="largebox"&gt;&lt;u&gt;&lt;/u&gt;&lt;h2&gt;&lt;u&gt;&lt;b&gt;&lt;u&gt;Quicklinks&lt;/u&gt;&lt;/b&gt;&lt;u&gt;&lt;/u&gt;&lt;/u&gt;&lt;/h2&gt;&lt;u&gt;text&lt;/u&gt;&lt;/div&gt;&lt;u&gt;&lt;/u&gt;&lt;/div&gt;&lt;u&gt;&lt;/u&gt;</textarea></td>
			</tr>
			<tr>
				<td class="left b" width="250">Clan Name:</td>
				<td class="right"><input type="text" name="cname" value="+ Lioden United +" maxlength="30"></td>
			</tr>
			<tr>
				<td class="left b" width="250">Short Summary:</td>
				<td class="right"><input type="text" name="summary" value="United all around the globe!" maxlength="50"></td>
			</tr>
			<tr>
				<td class="left b" width="250">Den Banner:</td>
				<td class="right"><input type="text" name="banner" value="https://www.simpleimageresizer.com/_uploads/photos/ac139104/IMG_8672_150x80.jpeg"> Must be 150 x 80</td>
			</tr>
						<tr>
				<td class="left b" width="250">Forum Thread Link:</td>
				<td class="right"><input type="text" name="threadlink" value=""></td>
				
			</tr>

			<tr>
				<td class="left b" width="250">Accept Membership Requests:</td>
				<td class="right">
					<select name="membership">
						<option value="1">Enabled</option>						<option value="2">Enabled - Invite Only</option>						<option value="0">Disabled</option>					</select>
				</td>
			</tr>
			<tr>
				<td class="left b" width="250">Keep Clan Private:</td>
				<td class="right"><input type="checkbox" name="private" value="1"></td>
			</tr>
			<tr>
				<td class="left b" width="250">Daily Hoard Grab Cap:</td>
				<td class="right"><input type="text" name="hoardcap" size="3" value="1"> (0 means only admins can take from the hoard)</td>
			</tr>
			<tr>
				<td class="left b" width="250">Blocked Players:</td>
				<td class="right"><a href="/clan.php?id=3560&amp;view=blocked">View &amp; Manage</a></td>
			</tr>
			<tr>
				<td colspan="2" class="bottom">
				<button class="button" type="submit" name="update" value="1">Save</button>
				</td>
			</tr>
		</tbody></table>
		<p></p>
		</form>

		
			<p>
			</p><h2>Clan Fees</h2>
			<form method="post">
			<div class="page-description">
				<div style="text-align: center;">
												Your clan has been paid up until the May 31st, 2025. You can still extend this by paying the 1000 SB monthly fee below to extend the membership by 30 days.
										<br><br>
					<input type="checkbox" name="source" value="1"> Use Clan SB?<br><button class="button" type="submit" name="payfee2" value="1" onclick="return confirm('Are you sure you wish to pay for 30 more days of fees for this clan for 1000 SB?')">Pay Fee! (1000 SB)</button>
				</div>
			</div>
			</form>
			<p></p>

		
		

			<br class="clear">
			<br><br><br>
			<div class="center visible-md visible-lg">
			</div>
			</div>
			<div class="sidebar col-md-3 visible-xs visible-sm col-xs-12 visible-md visible-lg">
				
				

				
				<div class="col-md-12 col-xs-6">
				<div class="panel panel-default">
					<div class="panel-body small">
						<div class="floatright right" style="width: 45px;">
							<img src="//static.lioden.com/img/layout/icon-time-day.png" alt="day Time">
							<img src="//static.lioden.com/img/layout/icon-season-dry.png" alt="dry Season">
						</div>
						4th February, 2025<br>4:29pm Lioden time<br>
						<a href="/online.php">4453 members online</a><br><a href="/friends-online.php">11 friends online</a>					</div>
				</div>
									<div class="panel panel-default">
						<div class="panel-body small center">
														<a href="/event.php"><img src="//static.lioden.com/images/layout/HeartShell.png"> 529 Heart Shells</a><br>																																																																												</div>
					</div>
								<a href="/lion.php?mid=261489"><h3>Marlboro <div class="floatright">→</div></h3></a>

				<div class="panel">
					<div class="panel-body small">
						<div class="progress">
							<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
							</div>
							<div>Energy: 100%</div>
						</div>
						<div class="progress">
							<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
							</div>
							<div>Hunger: 0%</div>
						</div>
												<div class="progress">
							<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="64" aria-valuemin="0" aria-valuemax="100" style="width: 64%">
							</div>
							<div>EXP: 64%</div>
						</div>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="54" aria-valuemin="0" aria-valuemax="100" style="width: 54%">
							</div>
							<div>IMP: 54%</div>
						</div>
						<div class="b floatleft">Level 10</div>
						<div class="b floatright">Dreamboat</div>
						<br class="clear">
						<div class="center"><a href="/cooldowns.php">View Your Cooldowns →</a></div>
					</div>
				</div>

				</div>

				<div class="col-xs-1 visible-xs visible-sm" style="margin-right: -20px;">
				</div>

				<div class="col-md-12 col-xs-5">

								<a href="/achievements.php"><h3 style="margin-top: 0;">Achievements <div class="floatright">→</div></h3></a>
				<div class="panel">
					<div class="panel-body small center">
						<div class="progress">
							<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
							</div>
							<div>Progress (80%)</div>
						</div>
					</div>
				</div>

				<a href="/bookmarks.php"><h3>Bookmarks <div class="floatright">→</div></h3></a>
				<div class="panel">
					<div class="panel-body small clear">
						» <a href="/topic.php?id=304429448254">✦•Pandora and Kat's CSS Code</a><br>
» <a href="/territory.php?id=458686">Den</a><br>
» <a href="/territory.php">Den</a><br>
» <a href="/topic.php?id=304429302120&amp;page=1389">Global: Find my NCL</a><br>
» <a href="/hoard.php?page=buried">Hoard</a><br>
» <a href="/hunting.php">Hunting</a><br>
» <a href="/trading_center.php?p=manage">Trading Center</a><br>
» <a href="/branch.php?id=261489">Viewing Branch</a><br>
» <a href="/topic.php?id=304429529317&amp;page=1">WIP - Do Not Post</a><br>
» <a href="/forum-notifications.php">Your Subscriptions</a><br>
					</div>
					<p></p>
				</div>

				
				<div class="visible-xs visible-sm">
					<h3>Game Stats</h3>
					<div class="panel">
						<div class="panel-body small">
							
<b>510,463</b> total members<br>
<b>4,370,259</b> lionesses owned<br>
<b>237,558</b> sub males owned<br>
<b>3,399,367</b> cubs bred<br>
<br>
<b><a href="/mutecount.php">918,367</a></b> mutated lions<br>
<br>
						</div>
					</div>
				</div>
			</div>
			<div class="clear visible-xs visible-sm" style="border-bottom: 1px dashed #6D381F;margin-bottom: 10px;"></div>
				<div class="col-md-12 col-xs-12">
														<h3 style="position: relative;">Chat Box
										<div style="display: inline-block; text-align: right;"><input type="button" name="togglechat" value="Hide" style="padding: 3px 3px; margin-left: 6px; vertical-align: middle; font-size: 12px;" id="btnToggleSidebarChat"></div>
										<div style="position: absolute; right: 0; top: 0; font-size: 12px; line-height: 24px;"><a href="./chat.php">Chat Room →</a></div>
									</h3>
								<div id="fraSidebarChat"><iframe data-src="./chat.sidebar.php" src="./chat.sidebar.php"></iframe></div>
					<div class="visible-md visible-lg">
						<h3>Game Stats</h3>
						<div class="panel">
							<div class="panel-body small">
								
<b>510,463</b> total members<br>
<b>4,370,259</b> lionesses owned<br>
<b>237,558</b> sub males owned<br>
<b>3,399,367</b> cubs bred<br>
<br>
<b><a href="/mutecount.php">918,367</a></b> mutated lions<br>
<br>
							</div>
						</div>
					</div>

					<div class="visible-md visible-lg">
						<h3>Social Media</h3>
						<div class="panel">
							<div class="panel-body small">
								<a href="https://www.facebook.com/liodengame/" target="_blank"><img src="//static.lioden.com/images/iconFB.png" alt="Facebook"></a>
								<a href="https://twitter.com/liodengame" target="_blank"><img src="//static.lioden.com/images/iconTwit.png" alt="Twitter" style="width: 46px; margin-top: -3px;"></a>
								<a href="https://twitch.tv/lioden" target="_blank"><img src="//static.lioden.com/images/iconTwitch.png" alt="Twitch" style="width: 40px;"></a>
								<a href="https://www.youtube.com/channel/UCPvEftRk5b1Ums5z9PNa_HA" target="_blank"><img src="//static.lioden.com/images/iconYoutube.png" alt="Youtube" style="width: 40px;"></a>
							</div>
						</div>
					</div>
				</div>
								<form method="post" action="/account-link.php">
					<p class="center">
						<br>
						<input type="hidden" name="switchaccount" value="1">
						<button type="submit" class="button">Switch Account</button>
						<br>
					</p>
				</form>
				
				
							</div>
		</div>
	</div>

<div class="row">
			<nav class="navbar navbar-default" role="navigation">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand visible-lg visible-md" href="/">
					
						<img src="//static.lioden.com/img/layout/logo-full-2.png" alt="Lioden"></a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav visible-lg">
					<li><a href="/territory.php">Den</a></li>
					<li><a href="/explore.php">Crossroads</a></li>
					<li><a href="/hoard.php">Hoard</a></li>
					<li><a href="/oasis.php">Oasis</a></li>
					<li><a href="/boards.php">Chatter</a></li>
					<li><a href="/news.php">News</a></li>
					<li><a href="/event.php">Event</a></li>
					<li><a href="/faq.php">FAQ</a></li>
				</ul>
				<ul class="nav navbar-nav visible-xs visible-sm visible-md smaller-nav">
					<li><a href="/territory.php">Den</a></li>
					<li><a href="/explore.php">Crossroads</a></li>
					<li><a href="/hoard.php">Hoard</a></li>
					<li><a href="/oasis.php">Oasis</a></li>
					<li><a href="/boards.php">Chatter</a></li>
					<li><a href="/news.php">News</a></li>
					<li><a href="/event.php">Event</a></li>
					<li><a href="/faq.php">FAQ</a></li>
				</ul>
				</div>
			</nav>
		</div>

<div class="row">
			<div class="col-md-9 col-xs-12">
				<ol class="breadcrumb">
					<li><a href="/">Home</a></li>
					<li><a href="/clans.php">Clans</a></li>
<li class="breadcrumb-item active">+ Lioden United +</li>				</ol>

								<div class="floatright" style="width: 160px; margin: -53px 5px 0 0;">
					<form method="post">
						<input type="hidden" name="page_url" value="/clan.php?id=3560">
						<input type="submit" name="bookmark" value="Bookmark" class="floatright">
					</form>
				</div>
				<div class="alert alert-success">You have updated the clan successfully! </div><div class="alert alert-success">You can flirt again! <a href="/aphrodisia.php?clearNotice=1">Visit Aphrodisia →</a></div><br><style>.chat_row, .table .right { background-image: none !important; }</style>

<h1>+ Lioden United +</h1>

	<p></p><table class="table">
		<tbody><tr>
			<td class="top" colspan="2">Clan Details</td>
		</tr>
		<form method="post"></form>
		<tr class="right" style="text-align: center;">
			<td style="width: 200px; padding: 10px;">
				<br>
				<img src="https://www.simpleimageresizer.com/_uploads/photos/ac139104/IMG_8672_150x80.jpeg"><br>
				<b>Run By:</b> <a href="/territory.php?id=270895">CORVID ✧ g1 4ros unholy ticked (#270895)</a>

				<br><br>
				<a href="/clan.php?id=3560&amp;view=hoard"><img src="//static.lioden.com/images/layout/clanhoard.png" height="100" width="100"><br>Clan Hoard</a>

				<br><br>
				<a href="/clan.php?id=3560&amp;view=raffles"><img src="//static.lioden.com/images/layout/clanraffles.png" height="100" width="100"><br>Clan Raffles</a>

			</td>
			<td class="right">
				<div class="xlarge b">
					"United all around the globe!"
				</div>
								<table class="inner-table auto">
					<tbody><tr>
						<td class="left" width="25%"><b>Admins:</b></td>
						<td class="right" colspan="4">
						<a href="/territory.php?id=261489">Redlesbian [Haze MRLC] (#261489)</a>						</td>
					</tr>
					<tr>
						<td class="left"><b>Thread:</b></td>
						<td class="right">None yet!</td>
						<td width="3"></td>
						<td class="left"><b>Members:</b></td>
						<td class="right"><a href="/clan.php?id=3560&amp;view=members">1580/1650 (0 pending)</a> <br><input type="checkbox" name="source2" value="1"> Use Clan SB? <br><button class="button" type="submit" name="expandclan" value="1" onclick="return confirm('Are you sure you wish to expand the member limit by 10 for 1000 SB?')">Expand By 10! (1000 SB)</button></td>
					</tr>
					<tr>
						<td class="left"><b>Banked SB:</b></td>
						<td class="right"><img src="//static.lioden.com/images/icon_beetlesilver.png"> 14,672</td>
						<td width="3"></td>
						<td class="left"><b>Banked GB:</b></td>
						<td class="right"><img src="//static.lioden.com/images/icon_beetlegold.png"> 5</td>
					</tr>
					<tr>
						<td class="left"><b>Bank Transactions:</b></td>
						<td class="right" colspan="4"><a href="/clan.php?id=3560&amp;view=transactions">View</a></td>
					</tr>
					<tr>
						<td class="left"><b>Donate:</b></td>
						<form method="post"></form>
						<td class="right" colspan="4">						<b>Amount:</b> <input type="text" name="amount" size="7"><br>
						<b>Type:</b> <img src="//static.lioden.com/images/icon_beetlesilver.png"> SB <input type="radio" value="sb" name="donatetype">  <img src="//static.lioden.com/images/icon_beetlegold.png"> GB <input type="radio" value="gb" name="donatetype"><br>
						<b>Reason:</b> <input type="text" name="reason" maxlength="100"> <br><font size="1">(Leave blank for Anonymous)</font><br>
						<button class="button" type="submit" name="donate" value="1" onclick="return confirm('Are you sure?')">Donate!</button>
						</td>
						
					</tr>
					<tr>
						<td class="left" width="25%"><b>Memberships Open:</b></td>
						<form method="post"></form><td class="right" colspan="4">Yes - You're a member! <button class="button" type="submit" name="leaveclan" value="1" onclick="return confirm('Are you sure you want to leave this clan?')">Leave Clan?</button>						</td>
					</tr>
					<tr>
													<td class="left" width="25%"><b>Paid Until:</b></td>
							<td class="right" colspan="4">
								This clan requires its monthly renewal fee on May 31st, 2025.
							</td>
											</tr>
					<tr>
							<td class="left" width="25%"><b>Clan Activity Log:</b></td>
							<td class="right" colspan="4"><a href="/clan.php?id=3560&amp;view=activity">View</a></td>
					</tr>
				</tbody></table>
							</td>
		</tr>
		<tr>
			<td class="bottom" colspan="100%">
				<br>
			</td>
		</tr>
		
	</tbody></table>
	<p></p>

	
	<p>
	</p><h2>Clan Description</h2>
	<div class="page-description">
		<div>
			<link rel="stylesheet" type="text/css" href="https://redlesbian.github.io/CSS-code/WHY.css"><br>
<div class="boxcontainer"><div class="largebox"><h2><b><u>Clan Rules</u></b><u></u></h2>⇢ ˗ˏˋ <b><u>𝐂𝐋𝐀𝐍 𝐑𝐔𝐋𝐄𝐒</u></b> ࿐ྂ<br>
<br>
<sub>1 . <b>FOLLOW ALL OF LIODEN'S TOS.</b><br>
we will be reporting any and all breaking of the TOS and you will be kicked immediately if you are found to have broken anything .<br>
 this INCLUDES being under the required age .</sub><br>
<br>
<sub>2 . <b>BE KIND &amp; WELCOMING.</b><br>
any form of discrimination will not be tolerated here . this includes ( but is not limited to ) racism , homophobia , transphobia , sexism etc .<br>
we are a welcoming community and would appreciate your co - operation in keeping it that way !</sub><br>
<br>
<sub>3 . <b>NO SCAMMING.</b><br>
scamming won't be tolerated . don't purposefully say you'll trade something via gift and refuse to . don't scam people out of heats . any breaking of this<br>
rule will result in you being reported and immediately removed from the clan .</sub><br>
<br>
<sub>4 . <b>DO NOT BEG.</b><br>
no begging . you're permitted to take one item per day from the clan hoard . don't try and get<br>
more than that ! it's unfair to our other members .</sub></div></div><br>
<div class="boxcontainer"><div class="largebox"><h2><b><u>Clan Hoard Info</u></b><u></u></h2>⇢ ˗ˏˋ <b><u>𝐂𝐋𝐀𝐍 𝐇𝐎𝐀𝐑𝐃 𝐈𝐍𝐅𝐎𝐑𝐌𝐀𝐓𝐈𝐎𝐍</u></b> ࿐ྂ<br>
<br>
<a href="https://docs.google.com/document/d/1HkH--VNu0A7_4StB6hwkNle5X6j0IOcz84EW3V2mjIo/edit?usp=sharing">READ THIS BEFORE TAKING FROM THE HOARD !</a><br>
<br>
<sub> THIS ^^^ IS A LINK!<br>
<sub>we plan for our hoard to always be open following it's formal opening ! at the moment , it's temporarily closed until we gain some new members to let everyone have a chance at getting something good ! due to an increase in members , we ask that you re - donate something of similar or equal value if you take something from the hoard .<br>
<br>
clan members will be permitted to take one item from the hoard per rollover &lt;3</sub></sub></div></div><br>
<div class="boxcontainer"><div class="largebox"><h2><b><u>Clan Raffles information</u></b><u></u></h2>⇢ ˗ˏˋ <b><u>𝐂𝐋𝐀𝐍 𝐑𝐀𝐅𝐅𝐋𝐄𝐒 𝐈𝐍𝐅𝐎𝐑𝐌𝐀𝐓𝐈𝐎𝐍</u></b> ࿐ྂ<br>
<br>
<sub>when it comes to our clan raffles , we're very proud to be able to offer quality prizes on a semi - frequent basis ! both admins have been playing lioden for a while and have been able to build up a good enough hoard to raffle certain items or lions off ! a message will be sent out whenever there is a clan raffle .<br>
<br>
all clan raffles will have cheap tickets , and any and all sb received from tickets goes back into the clan !<br>
<br>
<b><u>UPCOMING RAFFLE :</u></b><br>
TBD</sub></div></div><br>
<div class="boxcontainer"><div class="largebox"><h2><b><u>Official Clan Discord</u></b><u></u></h2><u>⇢ ˗ˏˋ <b><u>𝐎𝐅𝐅𝐈𝐂𝐈𝐀𝐋 𝐂𝐋𝐀𝐍 𝐃𝐈𝐒𝐂𝐎𝐑𝐃</u></b> ࿐ྂ<br>
<sub>https://discord.gg/BWakgztzz9<br>
<br>
come and join us in the official lioden united discord ! we host exclusive giveaways , competitions and are super excited to welcome new members to the community .</sub></u></div><u></u></div><u><br>
</u><div class="boxcontainer"><u></u><div class="largebox"><u></u><h2><u><b><u>Quicklinks</u></b><u></u></u></h2><u>text</u></div><u></u></div><u></u>		</div>
	</div>
	<p></p>

			<p>
		</p><h2>Clan Controls</h2>
					<form method="post">
			<table class="table">
				<tbody><tr>
					<td class="top" colspan="2">Mass Message Clan Members</td>
				</tr>
				<tr>
					<td class="left"><b>To:</b>
					</td><td class="right"><select name="totype"><option value="0">Admins Only</option><option value="1">All Members</option></select></td>
				</tr>
				<tr>
					<td class="left" valign="top"><b>Message:</b>
					</td><td class="right"><textarea name="message" rows="5" cols="50"></textarea></td>
				</tr>
				<tr>
					<td class="bottom" colspan="2"><button class="button" type="submit" name="preview" value="1">Preview</button> <button class="button" type="submit" name="send_msg" value="1" onclick="return confirm('Are you sure you want to send this message?')">Send Message!</button></td>
				</tr>
			</tbody></table>
			</form>
				<br>
		<form method="post">
		<table class="table">
			<tbody><tr>
				<th colspan="2">Edit Clan Details</th>
			</tr>
			<tr>
				<td class="left b" width="250">Clan Description:</td>
				<td class="right"><textarea name="desc" rows="" cols="" style="width: 100%; height: 200px;">&lt;link rel="stylesheet" type="text/css" href="https://redlesbian.github.io/CSS-code/WHY.css" /&gt;
&lt;div class="boxcontainer"&gt;&lt;div class="largebox"&gt;&lt;h2&gt;&lt;b&gt;&lt;u&gt;Clan Rules&lt;/u&gt;&lt;/b&gt;&lt;u&gt;&lt;/u&gt;&lt;/h2&gt;⇢ ˗ˏˋ &lt;b&gt;&lt;u&gt;𝐂𝐋𝐀𝐍 𝐑𝐔𝐋𝐄𝐒&lt;/u&gt;&lt;/b&gt; ࿐ྂ

&lt;sub&gt;1 . &lt;b&gt;FOLLOW ALL OF LIODEN'S TOS.&lt;/b&gt;
we will be reporting any and all breaking of the TOS and you will be kicked immediately if you are found to have broken anything .
 this INCLUDES being under the required age .&lt;/sub&gt;

&lt;sub&gt;2 . &lt;b&gt;BE KIND &amp;amp; WELCOMING.&lt;/b&gt;
any form of discrimination will not be tolerated here . this includes ( but is not limited to ) racism , homophobia , transphobia , sexism etc .
we are a welcoming community and would appreciate your co - operation in keeping it that way !&lt;/sub&gt;

&lt;sub&gt;3 . &lt;b&gt;NO SCAMMING.&lt;/b&gt;
scamming won't be tolerated . don't purposefully say you'll trade something via gift and refuse to . don't scam people out of heats . any breaking of this
rule will result in you being reported and immediately removed from the clan .&lt;/sub&gt;

&lt;sub&gt;4 . &lt;b&gt;DO NOT BEG.&lt;/b&gt;
no begging . you're permitted to take one item per day from the clan hoard . don't try and get
more than that ! it's unfair to our other members .&lt;/sub&gt;&lt;/div&gt;&lt;/div&gt;
&lt;div class="boxcontainer"&gt;&lt;div class="largebox"&gt;&lt;h2&gt;&lt;b&gt;&lt;u&gt;Clan Hoard Info&lt;/u&gt;&lt;/b&gt;&lt;u&gt;&lt;/u&gt;&lt;/h2&gt;⇢ ˗ˏˋ &lt;b&gt;&lt;u&gt;𝐂𝐋𝐀𝐍 𝐇𝐎𝐀𝐑𝐃 𝐈𝐍𝐅𝐎𝐑𝐌𝐀𝐓𝐈𝐎𝐍&lt;/u&gt;&lt;/b&gt; ࿐ྂ

&lt;a href="https://docs.google.com/document/d/1HkH--VNu0A7_4StB6hwkNle5X6j0IOcz84EW3V2mjIo/edit?usp=sharing"&gt;READ THIS BEFORE TAKING FROM THE HOARD !&lt;/a&gt;

&lt;sub&gt; THIS ^^^ IS A LINK!
&lt;sub&gt;we plan for our hoard to always be open following it's formal opening ! at the moment , it's temporarily closed until we gain some new members to let everyone have a chance at getting something good ! due to an increase in members , we ask that you re - donate something of similar or equal value if you take something from the hoard .

clan members will be permitted to take one item from the hoard per rollover &amp;lt;3&lt;/sub&gt;&lt;/sub&gt;&lt;/div&gt;&lt;/div&gt;
&lt;div class="boxcontainer"&gt;&lt;div class="largebox"&gt;&lt;h2&gt;&lt;b&gt;&lt;u&gt;Clan Raffles information&lt;/u&gt;&lt;/b&gt;&lt;u&gt;&lt;/u&gt;&lt;/h2&gt;⇢ ˗ˏˋ &lt;b&gt;&lt;u&gt;𝐂𝐋𝐀𝐍 𝐑𝐀𝐅𝐅𝐋𝐄𝐒 𝐈𝐍𝐅𝐎𝐑𝐌𝐀𝐓𝐈𝐎𝐍&lt;/u&gt;&lt;/b&gt; ࿐ྂ

&lt;sub&gt;when it comes to our clan raffles , we're very proud to be able to offer quality prizes on a semi - frequent basis ! both admins have been playing lioden for a while and have been able to build up a good enough hoard to raffle certain items or lions off ! a message will be sent out whenever there is a clan raffle .

all clan raffles will have cheap tickets , and any and all sb received from tickets goes back into the clan !

&lt;b&gt;&lt;u&gt;UPCOMING RAFFLE :&lt;/u&gt;&lt;/b&gt;
TBD&lt;/sub&gt;&lt;/div&gt;&lt;/div&gt;
&lt;div class="boxcontainer"&gt;&lt;div class="largebox"&gt;&lt;h2&gt;&lt;b&gt;&lt;u&gt;Official Clan Discord&lt;/u&gt;&lt;/b&gt;&lt;u&gt;&lt;/u&gt;&lt;/h2&gt;&lt;u&gt;⇢ ˗ˏˋ &lt;b&gt;&lt;u&gt;𝐎𝐅𝐅𝐈𝐂𝐈𝐀𝐋 𝐂𝐋𝐀𝐍 𝐃𝐈𝐒𝐂𝐎𝐑𝐃&lt;/u&gt;&lt;/b&gt; ࿐ྂ
&lt;sub&gt;https://discord.gg/BWakgztzz9

come and join us in the official lioden united discord ! we host exclusive giveaways , competitions and are super excited to welcome new members to the community .&lt;/sub&gt;&lt;/u&gt;&lt;/div&gt;&lt;u&gt;&lt;/u&gt;&lt;/div&gt;&lt;u&gt;
&lt;/u&gt;&lt;div class="boxcontainer"&gt;&lt;u&gt;&lt;/u&gt;&lt;div class="largebox"&gt;&lt;u&gt;&lt;/u&gt;&lt;h2&gt;&lt;u&gt;&lt;b&gt;&lt;u&gt;Quicklinks&lt;/u&gt;&lt;/b&gt;&lt;u&gt;&lt;/u&gt;&lt;/u&gt;&lt;/h2&gt;&lt;u&gt;text&lt;/u&gt;&lt;/div&gt;&lt;u&gt;&lt;/u&gt;&lt;/div&gt;&lt;u&gt;&lt;/u&gt;</textarea></td>
			</tr>
			<tr>
				<td class="left b" width="250">Clan Name:</td>
				<td class="right"><input type="text" name="cname" value="+ Lioden United +" maxlength="30"></td>
			</tr>
			<tr>
				<td class="left b" width="250">Short Summary:</td>
				<td class="right"><input type="text" name="summary" value="United all around the globe!" maxlength="50"></td>
			</tr>
			<tr>
				<td class="left b" width="250">Den Banner:</td>
				<td class="right"><input type="text" name="banner" value="https://www.simpleimageresizer.com/_uploads/photos/ac139104/IMG_8672_150x80.jpeg"> Must be 150 x 80</td>
			</tr>
						<tr>
				<td class="left b" width="250">Forum Thread Link:</td>
				<td class="right"><input type="text" name="threadlink" value=""></td>
				
			</tr>

			<tr>
				<td class="left b" width="250">Accept Membership Requests:</td>
				<td class="right">
					<select name="membership">
						<option value="1">Enabled</option>						<option value="2">Enabled - Invite Only</option>						<option value="0">Disabled</option>					</select>
				</td>
			</tr>
			<tr>
				<td class="left b" width="250">Keep Clan Private:</td>
				<td class="right"><input type="checkbox" name="private" value="1"></td>
			</tr>
			<tr>
				<td class="left b" width="250">Daily Hoard Grab Cap:</td>
				<td class="right"><input type="text" name="hoardcap" size="3" value="1"> (0 means only admins can take from the hoard)</td>
			</tr>
			<tr>
				<td class="left b" width="250">Blocked Players:</td>
				<td class="right"><a href="/clan.php?id=3560&amp;view=blocked">View &amp; Manage</a></td>
			</tr>
			<tr>
				<td colspan="2" class="bottom">
				<button class="button" type="submit" name="update" value="1">Save</button>
				</td>
			</tr>
		</tbody></table>
		<p></p>
		</form>

		
			<p>
			</p><h2>Clan Fees</h2>
			<form method="post">
			<div class="page-description">
				<div style="text-align: center;">
												Your clan has been paid up until the May 31st, 2025. You can still extend this by paying the 1000 SB monthly fee below to extend the membership by 30 days.
										<br><br>
					<input type="checkbox" name="source" value="1"> Use Clan SB?<br><button class="button" type="submit" name="payfee2" value="1" onclick="return confirm('Are you sure you wish to pay for 30 more days of fees for this clan for 1000 SB?')">Pay Fee! (1000 SB)</button>
				</div>
			</div>
			</form>
			<p></p>

		
		

			<br class="clear">
			<br><br><br>
			<div class="center visible-md visible-lg">
			</div>
			</div>
			<div class="sidebar col-md-3 visible-xs visible-sm col-xs-12 visible-md visible-lg">
				
				

				
				<div class="col-md-12 col-xs-6">
				<div class="panel panel-default">
					<div class="panel-body small">
						<div class="floatright right" style="width: 45px;">
							<img src="//static.lioden.com/img/layout/icon-time-day.png" alt="day Time">
							<img src="//static.lioden.com/img/layout/icon-season-dry.png" alt="dry Season">
						</div>
						4th February, 2025<br>4:29pm Lioden time<br>
						<a href="/online.php">4453 members online</a><br><a href="/friends-online.php">11 friends online</a>					</div>
				</div>
									<div class="panel panel-default">
						<div class="panel-body small center">
														<a href="/event.php"><img src="//static.lioden.com/images/layout/HeartShell.png"> 529 Heart Shells</a><br>																																																																												</div>
					</div>
								<a href="/lion.php?mid=261489"><h3>Marlboro <div class="floatright">→</div></h3></a>

				<div class="panel">
					<div class="panel-body small">
						<div class="progress">
							<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
							</div>
							<div>Energy: 100%</div>
						</div>
						<div class="progress">
							<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
							</div>
							<div>Hunger: 0%</div>
						</div>
												<div class="progress">
							<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="64" aria-valuemin="0" aria-valuemax="100" style="width: 64%">
							</div>
							<div>EXP: 64%</div>
						</div>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="54" aria-valuemin="0" aria-valuemax="100" style="width: 54%">
							</div>
							<div>IMP: 54%</div>
						</div>
						<div class="b floatleft">Level 10</div>
						<div class="b floatright">Dreamboat</div>
						<br class="clear">
						<div class="center"><a href="/cooldowns.php">View Your Cooldowns →</a></div>
					</div>
				</div>

				</div>

				<div class="col-xs-1 visible-xs visible-sm" style="margin-right: -20px;">
				</div>

				<div class="col-md-12 col-xs-5">

								<a href="/achievements.php"><h3 style="margin-top: 0;">Achievements <div class="floatright">→</div></h3></a>
				<div class="panel">
					<div class="panel-body small center">
						<div class="progress">
							<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
							</div>
							<div>Progress (80%)</div>
						</div>
					</div>
				</div>

				<a href="/bookmarks.php"><h3>Bookmarks <div class="floatright">→</div></h3></a>
				<div class="panel">
					<div class="panel-body small clear">
						» <a href="/topic.php?id=304429448254">✦•Pandora and Kat's CSS Code</a><br>
» <a href="/territory.php?id=458686">Den</a><br>
» <a href="/territory.php">Den</a><br>
» <a href="/topic.php?id=304429302120&amp;page=1389">Global: Find my NCL</a><br>
» <a href="/hoard.php?page=buried">Hoard</a><br>
» <a href="/hunting.php">Hunting</a><br>
» <a href="/trading_center.php?p=manage">Trading Center</a><br>
» <a href="/branch.php?id=261489">Viewing Branch</a><br>
» <a href="/topic.php?id=304429529317&amp;page=1">WIP - Do Not Post</a><br>
» <a href="/forum-notifications.php">Your Subscriptions</a><br>
					</div>
					<p></p>
				</div>

				
				<div class="visible-xs visible-sm">
					<h3>Game Stats</h3>
					<div class="panel">
						<div class="panel-body small">
							
<b>510,463</b> total members<br>
<b>4,370,259</b> lionesses owned<br>
<b>237,558</b> sub males owned<br>
<b>3,399,367</b> cubs bred<br>
<br>
<b><a href="/mutecount.php">918,367</a></b> mutated lions<br>
<br>
						</div>
					</div>
				</div>
			</div>
			<div class="clear visible-xs visible-sm" style="border-bottom: 1px dashed #6D381F;margin-bottom: 10px;"></div>
				<div class="col-md-12 col-xs-12">
														<h3 style="position: relative;">Chat Box
										<div style="display: inline-block; text-align: right;"><input type="button" name="togglechat" value="Hide" style="padding: 3px 3px; margin-left: 6px; vertical-align: middle; font-size: 12px;" id="btnToggleSidebarChat"></div>
										<div style="position: absolute; right: 0; top: 0; font-size: 12px; line-height: 24px;"><a href="./chat.php">Chat Room →</a></div>
									</h3>
								<div id="fraSidebarChat"><iframe data-src="./chat.sidebar.php" src="./chat.sidebar.php"></iframe></div>
					<div class="visible-md visible-lg">
						<h3>Game Stats</h3>
						<div class="panel">
							<div class="panel-body small">
								
<b>510,463</b> total members<br>
<b>4,370,259</b> lionesses owned<br>
<b>237,558</b> sub males owned<br>
<b>3,399,367</b> cubs bred<br>
<br>
<b><a href="/mutecount.php">918,367</a></b> mutated lions<br>
<br>
							</div>
						</div>
					</div>

					<div class="visible-md visible-lg">
						<h3>Social Media</h3>
						<div class="panel">
							<div class="panel-body small">
								<a href="https://www.facebook.com/liodengame/" target="_blank"><img src="//static.lioden.com/images/iconFB.png" alt="Facebook"></a>
								<a href="https://twitter.com/liodengame" target="_blank"><img src="//static.lioden.com/images/iconTwit.png" alt="Twitter" style="width: 46px; margin-top: -3px;"></a>
								<a href="https://twitch.tv/lioden" target="_blank"><img src="//static.lioden.com/images/iconTwitch.png" alt="Twitch" style="width: 40px;"></a>
								<a href="https://www.youtube.com/channel/UCPvEftRk5b1Ums5z9PNa_HA" target="_blank"><img src="//static.lioden.com/images/iconYoutube.png" alt="Youtube" style="width: 40px;"></a>
							</div>
						</div>
					</div>
				</div>
								<form method="post" action="/account-link.php">
					<p class="center">
						<br>
						<input type="hidden" name="switchaccount" value="1">
						<button type="submit" class="button">Switch Account</button>
						<br>
					</p>
				</form>
				
				
							</div>
		</div>

