/*
Free to use CSS template by Katie (#106445).
This code may be altered, edited, or re-uploaded. 
This template may be used to create paid codes (pre-mades and commissions).
Please do NOT remove this credit, unless your coding becomes unrecognizable from this one! 
*/

/* FONT (From Google Fonts) */

@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Kaushan+Script&display=swap');

/* BACKGROUND */

body {
	background: url('https://media.discordapp.net/attachments/1169778124293165076/1170816562714910790/Untitled275_20231105200215.png?ex=655a6ae5&is=6547f5e5&hm=648def160c55f5564a9c63e942fabb24805a1983b15b96e8d25b072cf692c113&') center center fixed;
	background-size: 100%;
	font-family: 'Cinzel', serif;';
	color: #FFFFFF
}

/* MAIN PANEL */

/* RIGHT SIDE */
.container.main {
	background: rgba(94, 35, 144, 0.5);
	border: 3px solid #FFFFFF;
	box-shadow: none;
	border-radius: 0px
}

/* LEFT SIDE */
.col-md-9 {
	background: none;
        border-right: none
}

/* TOPBAR ("Welcome back, ___") */

.topbar {
	background: rgba(139, 13, 136, 0.5);
	border: 3px solid #FFFFFF;
	border-top: none;
	color: #FFFFFF;
	border-radius: 0px;
}

/* NAVBAR (Den/Crossroads/Etc.) */

.navbar {
	background: rgba(3, 78, 162, 0.5);
	border-bottom: 3px solid #FFFFFF;
	color: #FFFFFF;
	border-radius: 0px
}

/* NAVBAR BUTTON TEXT COLOR */

.navbar li a {
	color: #FFFFFF !important
}

/* NAVBAR BUTTON HOVER */

.navbar li a:hover {
	background: rgba(48, 58, 153, 0.5) !important;
	border-bottom: 3px solid #FFFFFF;
	color: #FFFFFF !important;
	border-radius: 0px
}

/* BREADCRUMB (Home / Den) */

.breadcrumb {
	background: rgba(192, 3, 132, 0.5) !important;
        border: 3px solid #FFFFFF;
	border-radius: 0px
}

/* BREADCRUMB TEXT */

.breadcrumb .active {
	color: #FFFFFF
}

/* CSS CREDIT */

.breadcrumb::after {
        content: "Template by Katie (#106445)|CSS by Red(#261489)";
        color: #FFFFFF;
        position: absolute;
        right: 13%; /* (This may need adjusting) */
        z-index: 100
    }

@media only screen and (max-width: 1199px) and (min-width: 992px)  {
        .breadcrumb::after {
            right: 20%
        }
    }

    @media only screen and (max-width: 991px) and (min-width: 768px)  {
        .breadcrumb::after {
            right: 20%
        }
    }

    @media only screen and (max-width: 767px) {
        .breadcrumb::after {
            right: 22%
        }
    }

/* BOOKMARK BUTTON */

input.floatright, input.floatright:hover {
	background: linear-gradient(to right, #034EA2, #C00384) !important;
        border: 3px solid #FFFFFF !important;
	border-radius: 0px;
	color: #FFFFFF !important;    
}

/* SWITCH ACCOUNT BUTTON */

button.button, button.button:hover {
	background: linear-gradient(to right, #034EA2, #C00384);
        border: 3px solid #FFFFFF !important;
	border-radius: 0px;
        text-shadow: none !important;
	color: #FFFFFF !important
}

/* ALERTS (ie. "Your lionesses have returned from hunting!") */

.alert,
.alert-warning,
.alert-danger {
	background: rgba(94, 35, 144, 0.5) !important;
	border: 3px solid #FFFFFF;
	color: #FFFFFF;
	border-radius: 0px !important
}

/* BIGGEST HEADER ("___"'s DEN) */

h1 {
	color: #FFFFFF;
	font-size: 90px;
	text-align: center;
        font-family: 'Kaushan Script', cursive;'
}


/* MEDIUM HEADER */

h2 {
	color: #FFFFFF;
	font-size: 24px;
	text-align: center
}


/* SMALL HEADER */

h3 {
	color: #FFFFFF !important;
	font-size: 14px !important
}

/* RIGHT SIDE PANEL HEADER */

.sidebar h3 {
	color: #FFFFFF !important;
        font-size: 26px !important;
        font-family: 'Cinzel', serif;'
}

/* RIGHT SIDE PANELS */
.panel {
	background: rgba(139, 13, 136, 0.5) !important;
	box-shadow: none !important;
	border: 3px solid #FFFFFF !important;
	color: #FFFFFF !important;
	border-radius: 0px
}

/* ENERGY BAR BACKGROUND */
.progress {
	background: rgba(236, 168, 255, 0.5);
	color: #FFFFFF !important;
	border-radius: 0px !important
}

/* ENERGY BAR COLOR */
.progress-bar {
	background: linear-gradient(to right, #034EA2, #C00384);
	color: #FFFFFF !important;
	border-radius: 0px !important
}

/* ENERGY BAR TEXT */
.progress div {
	color: #FFFFFF !important
}

/* CHAT */

.s-chat-message:nth-child(even) /* Even Numbered Messages */ {
	background: rgba(3, 78, 162, 0.5) !important;
        color: #FFFFFF !important;
	border: 3px solid #FFFFFF !important
}

.s-chat-message:nth-child(odd) /* Odd Numbered Messages */ {
	background: rgba(192, 3, 132, 0.5) !important;
        color: #FFFFFF !important;
	border: 3px solid #FFFFFF !important
}

.s-chat-message__pinned /* Pinned Message */ {
	background: rgba(94, 35, 144, 0.5) !important;
        color: #FFFFFF !important;
	border: 3px solid #FFFFFF !important
}

.s-chat-message_timestamp /* Timestamps */ {
	color: #FFFFFF !important;
}

div#chatMessageContainer {
	border: 3px solid #FFFFFF !important;
}

button#label_currentChannel /* Channel Button ie. Main, Sales */ {
	background: rgba(1, 1, 1, 0.5) !important;
        color: #000000 !important;
	border: none !important
}

/* LION INFO TABLE (Level, Stats, Territory Count, Etc.) */


/* PANEL BACKGROUND COLOR */

.table {
	background: rgba(139, 13, 136, 0.5);
	border: 3px solid #FFFFFF !important;
	border-collapse: separate;
	border-radius: 0px
}


/* HEADERS COLOR (King Name + Title, "There are _ lions with mutations in _'s pride.") */

.top,
.bottom,
th {
	background: linear-gradient(to right, #034EA2, #C00384) !important;
	color: #FFFFFF !important;
	border-radius: 0px
}

td.bottom a {
        text-decoration: none !important
}

/* Color behind "Level, Stats, Branch, Territory" etc. */

.inner-table .left {
	background: linear-gradient(to right, #034EA2, #C00384) !important;
        color: #FFFFFF;
	border-radius: 0px
}


/* Color behind the number of all of the things above */

.inner-table .right {
	background: none;
	border-radius: 0px !important
}

td.right {
	border-radius: 0px !important
}

/* IGNORE */
.right_odd {
	background: none !important
}

/* Affects the color behind "_ Unsorted", "_ Pregnant Lionesses", "View Pride Overview", and cave/mound names */

.cave-grid,
.mound-grid {
	background: rgba(48, 58, 153, 0.5);
	border: 3px solid #FFFFFF !important;
	border-radius: 0px !important
}

/* FEED ALL, PLAY ALL */

.feature {
	background: rgba(3, 78, 162, 0.5) !important;
	color: #FFFFFF !important;
	border: 3px solid #FFFFFF !important;
	border-radius: 0px !important
}

/* "King Dynasty, Pride Dynasty, Achievements, Showcase" Panels */

.feature,
div.left {
	background: rgba(94, 35, 144, 0.5);
	border: 3px solid #FFFFFF;
	border-radius: 0px !important
}

/* Block of color behind "Territory Description, Player Name, Avatar URL" etc. */

.table .left {
	background: rgba(94, 35, 144, 0.5);
        border-radius: 0px
}

/* Color behind the content of the elements listed above */

input,
select,
textarea {
	background: rgba(139, 13, 136, 0.5) !important;
	border: 3px solid #FFFFFF !important;
	border-radius: 0px !important;
	color: #FFFFFF !important;
	box-shadow: none !important;
	text-shadow: none !important
}

/* ACCOUNT OPTIONS PANELS  (Friend Requests Toggles, etc.) */

.item-header {
	background: linear-gradient(to right, #034EA2, #C00384) !important;
	color: #FFFFFF  !important;
	border-radius: 0px !important;
}

.item {
	background: rgba(3, 78, 162, 0.5) !important;
	border: 3px solid #FFFFFF !important;
	border-radius: 0px !important
}

/* ACCOUNT OPTIONS ON/OFF TOGGLE SWITCH */

div.slider.round /* Background */ {
	background: #034EA2 !important
}

div.slider.round::before /* Circle Part */ {
	background: #C00384 !important
}

/* Copyright, Terms of Service, CoC, etc. */

div.container.footer.center.white.visible-lg.visible-md.visible-sm, div.container.footer.center.white.visible-lg.visible-md.visible-sm a {
        color: #000000 !important;
        text-shadow: none !important
}

/* LINK COLOR */

a:link,
a:visited {
	color: #ffffff !important
}

/* LINK HOVER COLOR */

a:hover {
	color: #ffffff !important
}


/* BOX CONTAINER */

.boxcontainer {
	background: none;
	height: auto;
	padding: 0px;
	justify-content: center;
	display: flex
}

/* BOXES */

.smallbox {
	float: left;
	background: rgba(1, 1, 1, 0.5);
	color: #000000;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 150px;
	width: 28.4%;
	overflow: auto
}

.mediumbox {
	float: left;
	background: rgba(1, 1, 1, 0.5);
	color: #000000;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 150px;
	width: 43.8%;
	overflow: auto
}

.largebox {
	float: center;
	background: linear-gradient(to right, #034EA2, #C00384);
	color: #FFFFFF;
	padding: 10px;
	border: 3px solid #FFFFFF;
	border-radius: 0px;
	margin: 10px;
	height: 150px;
	width: 90%;
	overflow: auto
}

/* HOVER BOXES */

.smallhoverbox {
	float: left;
	background: rgba(1, 1, 1, 0.5);
	color: #000000;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 50px;
	width: 28.4%;
	overflow: auto;
        transition: 3s
}

.smallhoverbox:hover {
	height: 150px;
	width: 28.4%;
}

.mediumhoverbox {
	float: left;
	background: rgba(1, 1, 1, 0.5);
	color: #000000;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 50px;
	width: 43.8%;
	overflow: auto;
        transition: 3s
}

.mediumhoverbox:hover {
	height: 150px;
	width: 43.8%;
}

.largehoverbox {
	float: left;
	background: rgba(1, 1, 1, 0.5);
	color: #000000;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 150px;
	width: 90%;
	overflow: auto;
        transition: 3s
}

.largehoverbox:hover {
	height: 150px;
	width: 90%;
}

/* SCROLL BAR */

/* WIDTH */

::-webkit-scrollbar {
	width: 10px
}


/* BACKGROUND */

::-webkit-scrollbar-track {
	background: #ffffff
}


/* "THUMB" */

::-webkit-scrollbar-thumb {
	background: #000000;
	border-radius: 0px
}


/* LION AND USER AVATAR OPACITY */

div#lion_image {
	opacity: 1
}

table#player img {
	opacity: 1
}


/* CIRCULAR LION AND USER AVATAR */

div#lion_image {
	border-radius: 50% !important;
	overflow: hidden;
	margin-top: 15px; /* May need adjusting */
	margin-left: 12px /* May need adjusting */
}

table#player img {
	border-radius: 50% !important;
	overflow: hidden
}


/* LIODEN LOGO REPLACER */

div.container.main>div:nth-child(1)>nav>div.navbar-header>a>img {
	content: url('https://media.discordapp.net/attachments/1169778124293165076/1170835133796991027/Untitled276_20231105212037.png?ex=655a7c30&is=65480730&hm=a22b905e98281fa7bb24d1e4f9e1098c95baa8aab65e4f78900db55fefa66ac6&')
}

/* CAVE / MOUND IMAGES */

img[src$="nestingbanner.png"] {
  content: url("https://media.discordapp.net/attachments/1169778124293165076/1170816569975250954/Untitled283_20231105200052.png?ex=655a6ae7&is=6547f5e7&hm=55011c7e2803fd5c3c3ebd5af54002af855ec54e84a1d92bb981a38148dc1956&") !important;
}

img[src$="overviewbanner.png"] {
  content: url("https://media.discordapp.net/attachments/1169778124293165076/1170816569975250954/Untitled283_20231105200052.png?ex=655a6ae7&is=6547f5e7&hm=55011c7e2803fd5c3c3ebd5af54002af855ec54e84a1d92bb981a38148dc1956&") !important;
}

img[src$="unsortedlionsbanner.png"] {
  content: url("https://media.discordapp.net/attachments/1169778124293165076/1170816569975250954/Untitled283_20231105200052.png?ex=655a6ae7&is=6547f5e7&hm=55011c7e2803fd5c3c3ebd5af54002af855ec54e84a1d92bb981a38148dc1956&") !important;
}

img[src$="cavedefault.jpg"] {
  content: url("https://media.discordapp.net/attachments/1169778124293165076/1170816583384453261/Untitled272_20231105200254.png?ex=655a6aea&is=6547f5ea&hm=a165a2fe0b1e246dcd8b8eb4967fdf563faed4e344e49d4424ef79ca4b934699&") !important;
}

.mound-grid img /* Mound(s) */ {
	background: url("https://media.discordapp.net/attachments/1169778124293165076/1170816577009090621/Untitled278_20231105200136.png?ex=655a6ae8&is=6547f5e8&hm=e899972ac9b52c6d4368c96912533a45fdcef3bde1b72cf74d2ccc0cbccbddc1&");
	width: 0;
	height: 0;
	padding-top: 80px;
	padding-right: 130px
}

img[src$="icon-beetle-gold.png"] {
    content:url('https://media.discordapp.net/attachments/1169778124293165076/1170828527331975178/Untitled280_20231105205422.png?ex=655a7609&is=65480109&hm=05f6ee0c576b7bc128775a80d58a6f39a929d0a4c62ba46f3276642a311ee947&')!important;
}
img[src$="icon-beetle-silver.png"] {
    content:url('https://media.discordapp.net/attachments/1169778124293165076/1170828536798515320/Untitled280_20231105205411.png?ex=655a760c&is=6548010c&hm=7d8d2c28d6d52176c149a5532fe650361f2c52ea6753ec854c53937c201ed039&')!important;
}

/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/nature/nat-7/nat606.cur), auto !important;} /* End https://www.cursors-4u.com */

/* MAKES BOXES/DESCRIPTION SHOW ON MOBILE */

@media only screen and (max-width: 767px) {
        .container.main .hidden-xs {
            display: block !important;
        }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
	display: block !important;
}

@media only screen and (min-width: 1200px) {
		div.quote {
			width: 790px;
		}
  }
