
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text&display=swap');

body {
  font-family: "Red Hat Text", sans-serif;
  background: #44a1a0;
  background-size: 100%;
  font-size: 20px;
}
  
.main {
  background: #bce6eb;
  color: #000000;
  border: 2px solid #ffffff;
  border-radius: 7px;
}

.col-md-9 {
  background: #bce6eb;
  border: 2px solid #ffffff;
  border-radius: 7px;
}

.topbar {
  background: #0D5C63;
  color: #ffffff;
  padding-top: 12px;
  padding-right: 17px;
  font-size: 20px;
  border: 2px solid #ffffff;
  border-radius: 7px;
}

.topbar a:link, .topbar a:visited, .topbar a:active {
  color: #ffffff;
}


.navbar {
  background: #0d5c63;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 7px;
}

.navbar li a:hover {
  background: #0d5c63 !important;
  color: #ffffff !important;
  border: 2px solid #ffffff;
  border-radius: 7px;
}
  
  
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}


.breadcrumb {
  background: #348E8E;
  color: #000000;
  border: 2px solid #ffffff;
  border-radius: 7px;
}

.table {
  background: #78cdd7;
  color: #000000;
  border: 2px solid #ffffff;
  border-radius: 3px;
}

.inner-table .left {
  background: #0d5c63;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 10px;
}

.inner-table .right {
  background: #ffffff;
  color: #000000;
  border: 2px solid #ffffff;
  border-radius: 7px;
}

button.button, button.button:hover {
  background: #44a1a0 !important;
  color: #000000 !important;
  border: 2px solid #ffffff !important;
  border-radius: 7px;
}
  
.table .top, .table th {
  background: #0d5c63;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 7px;
}

.table .left {
  background: #ffffff;
}


.table .bottom {
  background: #0d5c63;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 7px;
}

.col-md-3 .panel-body {
  background: #78cdd7;
  color: #000000;
  border: 2px solid #ffffff;
  border-radius: 7px;
}
    
.progress-bar {
  background: #0D5C63;
  color: #000000
  border-radius: 7px;
}


a:link, a:visited, a:active {
  color: #000000;
}

.alert {
  background: #247b7b;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 7px;
}


input.floatright, input.floatright:hover {
  background: #44a1a0 !important;
  color: #000000 !important;
  border: 2px solid #ffffff !important;
  border-radius: 7px;
}

div .left {
  background: #78cdd7;
  color: #000000;
  border: 2px solid #ffffff;
  border-radius: 7px;
  height: 50px
}

.table .left {
  background: #247b7b;
  color: #000000;
  border: 2px solid #ffffff;
  border-radius: 7px;
}

.item-header {
  background: #247b7b;
  color: #000000;
  border: 2px solid #ffffff;
  border-radius: 7px;
}

.cave-grid img {
  visibility: hidden;
}

#text {
  font-size: 10px;
  top: 4px;
  position: relative;
}

.cave-grid {
  background: #44A1A0;
  color: #000000;
  border: 2px solid #ffffff;
  border-radius: 7px;
  height: 50px;
}

img[src$="den_ancestors.png"] {
    visibility: hidden;
}
img[src$="den_ancestorsfem.png"] {
    visibility: hidden;
}
img[src$="den_achievements.png"] {
    visibility: hidden;
}
img[src$="den_showcase.png"] {
   visibility: hidden;
}
img[src$="den_beetlebook.png"] {
  visibility: hidden;
}
