/*
Free to use CSS template by Katie (#106445).
This code may be altered, edited, or re-uploaded. 
This template may be used to create paid codes (pre-mades and commissions).
Please do NOT remove this credit, unless your coding becomes unrecognizable from this one! 
*/

/* FONT (From Google Fonts) */

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

/* BACKGROUND */

body {
	background: url('https://media.discordapp.net/attachments/1169344484920799314/1169389316556996758/Untitled263_20231101212900.png?ex=655539ab&is=6542c4ab&hm=bf174ceb8a0a07a26a3539f4834807bbd1fe7e3ce16ddd7dcf1ba45d83a3d984&') no-repeat center center fixed;
	background-size: cover;
	font-family: 'Indie Flower', cursive;';
	color: #FFFFFF
}

/* MAIN PANEL */

/* RIGHT SIDE */
.container.main {
	background: rgba(75, 12, 134, 0.45);
	border: 3px double #edaefc;
	box-shadow: 5px 10px 7px #280630;
	border-radius: 10px
}

/* LEFT SIDE */
.col-md-9 {
	background: none;
        border-right: 3px double #edaefc
}

/* TOPBAR ("Welcome back, ___") */

.topbar {
	background: rgba(60, 17, 100, 0.65);
	border: 3px double #edaefc;
	border-top: none;
	color: #FFFFFF;
	border-radius: 10px;
}

/* NAVBAR (Den/Crossroads/Etc.) */

.navbar {
	background: rgba(92, 68, 115, 0.65);
	border-bottom: 3px double #edaefc;
	color: #FFFFFF;
	border-radius: 10px
}

/* NAVBAR BUTTON TEXT COLOR */

.navbar li a {
	color: #FFFFFF !important
}

/* NAVBAR BUTTON HOVER */

.navbar li a:hover {
	background: rgba(115, 24, 124, 0.65) !important;
	border-bottom: 3px double #edaefc;
	color: #FFFFFF !important;
	border-radius: 10px
}

/* BREADCRUMB (Home / Den) */

.breadcrumb {
	background: rgba(94, 6, 192, 0.65) !important;
        border: 3px double #edaefc;
	border-radius: 10px
}

/* BREADCRUMB TEXT */

.breadcrumb .active {
	color: #FFFFFF
}

/* CSS CREDIT */

.breadcrumb::after {
        content: "Template by Katie (#106445)|CSS by Ref(#261489)";
        color: #FFFFFF;
        position: absolute;
        right: 13%; /* (This may need adjusting) */
        z-index: 100
    }

@media only screen and (max-width: 1199px) and (min-width: 992px)  {
        .breadcrumb::after {
            right: 20%
        }
    }

    @media only screen and (max-width: 991px) and (min-width: 768px)  {
        .breadcrumb::after {
            right: 20%
        }
    }

    @media only screen and (max-width: 767px) {
        .breadcrumb::after {
            right: 22%
        }
    }

/* BOOKMARK BUTTON */

input.floatright, input.floatright:hover {
	background: rgba(135, 72, 141, 0.75) !important;
        border: 3px double #edaefc !important;
	border-radius: 10px;
	color: #FFFFFF !important;    
}

/* SWITCH ACCOUNT BUTTON */

button.button, button.button:hover {
	background: rgba(135, 72, 141, 0.75);
        border: 3px double #edaefc !important;
	border-radius: 10px;
        text-shadow: none !important;
	color: #FFFFFF !important
}

/* ALERTS (ie. "Your lionesses have returned from hunting!") */

.alert,
.alert-warning,
.alert-danger {
	background: rgba(85, 59, 128, 0.65) !important;
	border: 3px double #edaefc;
	color: #FFFFFF;
	border-radius: 10px !important
}

/* BIGGEST HEADER ("___"'s DEN) */

h1 {
	color: #897399;
	font-size: 90px;
	text-align: center;
        font-family: 'Indie Flower', cursive;'
}


/* MEDIUM HEADER */

h2 {
	color: #b19dbf;
	font-size: 24px;
	text-align: center
}


/* SMALL HEADER */

h3 {
	color: #b19dbf !important;
	font-size: 14px !important
}

/* RIGHT SIDE PANEL HEADER */

.sidebar h3 {
	color: #b19dbf !important;
        font-size: 26px !important;
        font-family: ''Indie Flower', cursive;'
}

/* RIGHT SIDE PANELS */
.panel {
	background: rgba(55, 55, 99, 0.65) !important;
	box-shadow: 5px 10px 7px #280630 !important;
	border: 3px double #edaefc !important;
	color: #FFFFFF !important;
	border-radius: 10px
}

/* ENERGY BAR BACKGROUND */
.progress {
	background: rgba(61, 61, 82, 0.65);
	color: #FFFFFF !important;
	border-radius: 10px !important
}

/* ENERGY BAR COLOR */
.progress-bar {
	background: rgba(42, 42, 82, 0.65);
	color: #FFFFFF !important;
	border-radius: 10px !important
}

/* ENERGY BAR TEXT */
.progress div {
	color: #FFFFFF !important
}

/* CHAT */

.s-chat-message:nth-child(even) /* Even Numbered Messages */ {
	background: rgba(62, 42, 82, 0.65) !important;
        color: #FFFFFF !important;
	border: 3px double #edaefc !important
}

.s-chat-message:nth-child(odd) /* Odd Numbered Messages */ {
	background: rgba(44, 22, 66, 0.65) !important;
        color: #FFFFFF !important;
	border: 3px double #edaefc !important
}

.s-chat-message__pinned /* Pinned Message */ {
	background: rgba(43, 34, 51, 0.65) !important;
        color: #FFFFFF !important;
	border: 3px double #edaefc !important
}

.s-chat-message_timestamp /* Timestamps */ {
	color: #FFFFFF !important;
}

div#chatMessageContainer {
	border: 3px double #edaefc !important;
}

button#label_currentChannel /* Channel Button ie. Main, Sales */ {
	background: rgba(32, 20, 43, 0.65) !important;
        color: #FFFFFF !important;
	border: 3px double #edaefc !important
}

/* LION INFO TABLE (Level, Stats, Territory Count, Etc.) */


/* PANEL BACKGROUND COLOR */

.table {
	background: rgba(123, 104, 150, 0.75);
	border: none !important;
	border-collapse: separate;
	border-radius: 10px
}

.table {
	color: #FFFFFF;
}


/* HEADERS COLOR (King Name + Title, "There are _ lions with mutations in _'s pride.") */

.top,
.bottom,
th {
	background: rgba(37, 27, 64, 0.65) !important;
	color: #FFFFFF !important;
	border-radius: 10px
}

td.bottom a {
        text-decoration: none !important
}

/* Color behind "Level, Stats, Branch, Territory" etc. */

.inner-table .left {
	background: rgba(155, 226, 242, 0.6) !important;
        color: #FFFFFF;
	border-radius: 10px
}


/* Color behind the number of all of the things above */

.inner-table .right {
	background: none;
	border-radius: 10px !important
}

td.right {
	border-radius: 10px !important
}

/* IGNORE */
.right_odd {
	background: none !important
}

/* Affects the color behind "_ Unsorted", "_ Pregnant Lionesses", "View Pride Overview", and cave/mound names */

.cave-grid,
.mound-grid {
	background: rgba(50, 3, 84, 0.65);
	border: 3px double #edaefc !important;
	border-radius: 10px !important
}

/* FEED ALL, PLAY ALL */

.feature {
	background: rgba(50, 3, 84, 0.65) !important;
	color: #FFFFFF !important;
	border: 3px double #edaefc !important;
	border-radius: 10px !important
}

/* "King Dynasty, Pride Dynasty, Achievements, Showcase" Panels */

.feature,
div.left {
	background: rgba(41, 27, 51, 0.65);
	border: 3px double #edaefc;
	border-radius: 10px !important
}

/* Block of color behind "Territory Description, Player Name, Avatar URL" etc. */

.table .left {
	background: rgba(123, 104, 150, 0.75);
        border-radius: 10px
}

.inner-table .right {
	color: #FFFFFF;
}

/* Color behind the content of the elements listed above */

input,
select,
textarea {
	background: rgba(74, 70, 99, 0.65) !important;
	border: 3px double #edaefc !important;
	border-radius: 10px !important;
	color: #FFFFFF !important;
	box-shadow: 5px 10px 7px #280630 !important;
	text-shadow: none !important
}

/* ACCOUNT OPTIONS PANELS  (Friend Requests Toggles, etc.) */

.item-header {
	background: rgba(11, 5, 51, 0.65) !important;
	color: #FFFFFF !important;
	border-radius: 10px !important;
}

.item {
	background: rgba(28, 9, 54, 0.65) !important;
	border: 3px double #edaefc !important;
	border-radius: 10px !important
}

/* ACCOUNT OPTIONS ON/OFF TOGGLE SWITCH */

div.slider.round /* Background */ {
	background: #492d70 !important
}

div.slider.round::before /* Circle Part */ {
	background: #FFFFFF !important
}

/* Copyright, Terms of Service, CoC, etc. */

div.container.footer.center.white.visible-lg.visible-md.visible-sm, div.container.footer.center.white.visible-lg.visible-md.visible-sm a {
        color: #FFFFFF !important;
        text-shadow: none !important
}

/* LINK COLOR */

a:link,
a:visited {
	color: #ffffff !important
}

/* LINK HOVER COLOR */

a:hover {
	color: #ffffff !important
}


/* BOX CONTAINER */

.boxcontainer {
	background: none;
	height: auto;
	padding: 0px;
	justify-content: center;
	display: flex
}

/* BOXES */

.smallbox {
	float: left;
	background: rgba(1, 1, 1, 0.5);
	color: #000000;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 150px;
	width: 28.4%;
	overflow: auto
}

.mediumbox {
	float: left;
	background: rgba(1, 1, 1, 0.5);
	color: #000000;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 150px;
	width: 43.8%;
	overflow: auto
}

.largebox {
	float: left;
	background: rgba(1, 1, 1, 0.5);
	color: #000000;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 150px;
	width: 90%;
	overflow: auto
}

/* HOVER BOXES */

.smallhoverbox {
	float: left;
	background: rgba(1, 1, 1, 0.5);
	color: #000000;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 50px;
	width: 28.4%;
	overflow: auto;
        transition: 3s
}

.smallhoverbox:hover {
	height: 150px;
	width: 28.4%;
}

.mediumhoverbox {
	float: left;
	background: rgba(1, 1, 1, 0.5);
	color: #000000;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 50px;
	width: 43.8%;
	overflow: auto;
        transition: 3s
}

.mediumhoverbox:hover {
	height: 150px;
	width: 43.8%;
}

.largehoverbox {
	float: left;
	background: rgba(1, 1, 1, 0.5);
	color: #000000;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 150px;
	width: 90%;
	overflow: auto;
        transition: 3s
}

.largehoverbox:hover {
	height: 150px;
	width: 90%;
}

/* SCROLL BAR */

/* WIDTH */

::-webkit-scrollbar {
	width: 10px
}


/* BACKGROUND */

::-webkit-scrollbar-track {
	background: #ffffff
}


/* "THUMB" */

::-webkit-scrollbar-thumb {
	background: #000000;
	border-radius: 0px
}


/* LION AND USER AVATAR OPACITY */

div#lion_image {
	opacity: 1
}

table#player img {
	opacity: 1
}


/* CIRCULAR LION AND USER AVATAR */

div#lion_image {
	border-radius: 50% !important;
	overflow: hidden;
	margin-top: 15px; /* May need adjusting */
	margin-left: 12px /* May need adjusting */
}

table#player img {
	border-radius: 50% !important;
	overflow: hidden
}


/* LIODEN LOGO REPLACER */

div.container.main>div:nth-child(1)>nav>div.navbar-header>a>img {
	content: url('https://media.discordapp.net/attachments/1169344484920799314/1169389404045971456/night-sky-with-moon-stars-clouds-background_1017-33777-removebg-preview.png?ex=655539c0&is=6542c4c0&hm=c8050af2243d6a8b6596e59f9c5bf9941ba3ba754f67f6055119d996f4286fd5&')
}

/* CAVE / MOUND IMAGES */

img[src$="nestingbanner.png"] {
  content: url("https://media.discordapp.net/attachments/1169344484920799314/1169389338212188221/Untitled266_20231101213342.png?ex=655539b0&is=6542c4b0&hm=a1393b9d9033a188c53cf0ef1c97c0bf8a0221377ae9223f6b293a8906460d92&") !important;
}

img[src$="overviewbanner.png"] {
  content: url("https://media.discordapp.net/attachments/1169344484920799314/1169389338212188221/Untitled266_20231101213342.png?ex=655539b0&is=6542c4b0&hm=a1393b9d9033a188c53cf0ef1c97c0bf8a0221377ae9223f6b293a8906460d92&") !important;
}

img[src$="unsortedlionsbanner.png"] {
  content: url("https://media.discordapp.net/attachments/1169344484920799314/1169389338212188221/Untitled266_20231101213342.png?ex=655539b0&is=6542c4b0&hm=a1393b9d9033a188c53cf0ef1c97c0bf8a0221377ae9223f6b293a8906460d92&") !important;
}

img[src$="cavedefault.jpg"] {
  content: url("https://media.discordapp.net/attachments/1169344484920799314/1169389337960517722/Untitled265_20231101213307.png?ex=655539b0&is=6542c4b0&hm=f425cc49f5456c8632c653b45914b665ee71d167f5daf4c344646f5827818f56&") !important;
}

.mound-grid img /* Mound(s) */ {
	background: url("https://media.discordapp.net/attachments/1169344484920799314/1169389338480627802/Untitled267_20231101213410.png?ex=655539b0&is=6542c4b0&hm=84c96448ebf1d59388ddec4ef0e807aeb2a0aa95b4c0db0fbd14417b7e22e19f&");
	width: 0;
	height: 0;
	padding-top: 80px;
	padding-right: 130px
}

/*-------------------------*/
/*Comment Box CODE BY HOK-Z*/
/*-------------------------*/
#commentBox {
  background: rgba(142, 107, 150, 0.65);
 border: 3px double #edaefc !important;}

div.comment {background: rgba(90, 54, 99, 0.65) !important;
            border-bottom: 3px double #edaefc;
            font-weight: bold;}

div#makeComment {background: rgba(81, 60, 87, 0.65) !important;
                border: 3px double #edaefc;
                border-radius: 10px;}

div.commentText {color: #FFFFFF;}

input#comment {background: #FFFFFF !important;
              color: white !important;}

input[type="button"].bad {background: rgba(64, 36, 71, 0.65) !important;}

.commentTag.clear {border: 3px double #edaefc;}

img[src$="icon-beetle-gold.png"] {
    content:url('https://i.ibb.co/xMLmpTp/Untitled280-20231126140520.png')!important;
}
img[src$="icon-beetle-silver.png"] {
    content:url('https://i.ibb.co/FDXQWkC/Untitled280-20231126140530.png')!important;
}

/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/food/foo-6/foo514.cur), auto !important;} /* End https://www.cursors-4u.com */

.breadcrumb::before {
        content:url('https://i.ibb.co/5xzjZPy/db2nlo8-640b41a3-af5c-4f73-8e74-1fdd8bb985cc.gif');
        position: fixed;
        right: 0.5%;
    top: 73%;
        z-index: 100;
}

/* MAKES BOXES/DESCRIPTION SHOW ON MOBILE */

@media only screen and (max-width: 767px) {
        .container.main .hidden-xs {
            display: block !important;
        }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
	display: block !important;
}
