/*
Free to use CSS template by Katie (#106445).
This code may be altered, edited, or re-uploaded. 
This template may be used to create paid codes (pre-mades and commissions).
Please do NOT remove this credit, unless your coding becomes unrecognizable from this one! 
*/


/* FONT (From Google Fonts) */


@import url('https://fonts.googleapis.com/css2?family=Chicle&family=Frijole&display=swap');


/* BACKGROUND */


body {
	background: url('https://i.postimg.cc/j2nwz28Q/Untitled3-20250219191057.png') center center fixed;
	background-size: 100%;
	font-family: "Chicle", serif;
	color: #000000
}


/* MAIN PANEL */


/* RIGHT SIDE */
.container.main {
	background: rgba(250, 255, 127, 0.35);
	border: 3px solid #ffffff;
	box-shadow: 2px 3px 3px #ffffff;
	border-radius: 10px
}


/* LEFT SIDE */
.col-md-9 {
	background: none;
        border-right: 3px solid #ffffff
}


/* TOPBAR ("Welcome back, ___") */


.topbar {
	background: linear-gradient(90deg, rgba(251,110,115,1) 0%, rgba(255,189,102,1) 25%, rgba(153,251,115,1) 50%, rgba(81,150,255,1) 75%, rgba(216,101,255,1) 100%);
	border: 3px solid #ffffff;
	border-top: 3px solid #ffffff;
	color: #000000;
	border-radius: 10px;
}


/* NAVBAR (Den/Crossroads/Etc.) */


.navbar {
	background: linear-gradient(90deg, rgba(254,181,184,1) 0%, rgba(252,221,180,1) 18%, rgba(250,255,172,1) 35%, rgba(197,251,176,1) 57%, rgba(175,207,255,1) 80%, rgba(239,190,255,1) 100%);
	border-bottom: 3px solid #ffffff;
	color: #000000;
	border-radius: 10px
}


/* NAVBAR BUTTON TEXT COLOR */


.navbar li a {
	color: #000000 !important
}


/* NAVBAR BUTTON HOVER */


.navbar li a:hover {
	background: linear-gradient(90deg, rgba(251,110,115,1) 0%, rgba(255,189,102,1) 25%, rgba(153,251,115,1) 50%, rgba(81,150,255,1) 75%, rgba(216,101,255,1) 100%) !important;
	border-bottom: 3px solid #ffffff;
	color: #000000 !important;
	border-radius: 10px
}


/* BREADCRUMB (Home / Den) */


.breadcrumb {
	background: linear-gradient(90deg, rgba(254,181,184,1) 0%, rgba(252,221,180,1) 18%, rgba(250,255,172,1) 35%, rgba(197,251,176,1) 57%, rgba(175,207,255,1) 80%, rgba(239,190,255,1) 100%) !important;
        border: 3px solid #ffffff;
	border-radius: 10px
}


/* BREADCRUMB TEXT */


.breadcrumb .active {
	color: #000000
}


/* CSS CREDIT */


.breadcrumb::after {
        content: "Template by Katie (#106445)||css by red[#261489]";
        color: #000000;
        position: absolute;
        right: 13%; /* (This may need adjusting) */
        z-index: 100
    }


@media only screen and (max-width: 1199px) and (min-width: 992px)  {
        .breadcrumb::after {
            right: 20%
        }
    }


    @media only screen and (max-width: 991px) and (min-width: 768px)  {
        .breadcrumb::after {
            right: 20%
        }
    }


    @media only screen and (max-width: 767px) {
        .breadcrumb::after {
            right: 22%
        }
    }


/* BOOKMARK BUTTON */


input.floatright, input.floatright:hover {
	background: linear-gradient(90deg, rgba(251,110,115,1) 0%, rgba(255,189,102,1) 25%, rgba(153,251,115,1) 50%, rgba(81,150,255,1) 75%, rgba(216,101,255,1) 100%) !important;
        border: 3px solid #ffffff !important;
	border-radius: 10px;
	color: #000000 !important;    
}


/* SWITCH ACCOUNT BUTTON */


button.button, button.button:hover {
	background: linear-gradient(90deg, rgba(251,110,115,1) 0%, rgba(255,189,102,1) 25%, rgba(153,251,115,1) 50%, rgba(81,150,255,1) 75%, rgba(216,101,255,1) 100%);
        border: 3px solid #ffffff !important;
	border-radius: 10px;
        text-shadow: 2px 3px 3px #ffffff !important;
	color: #000000 !important
}


/* ALERTS (ie. "Your lionesses have returned from hunting!") */


.alert,
.alert-warning,
.alert-danger {
	background: rgba(253, 181, 184, 1) !important;
	border: 3px solid #ffffff;
	color: #000000;
	border-radius: 10px !important
}


/* BIGGEST HEADER ("___"'s DEN) */


h1 {
	color: #000000;
	font-size: 90px;
	text-align: center;
        font-family: "Frijole", serif;
}




/* MEDIUM HEADER */


h2 {
	color: #000000;
	font-size: 24px;
	text-align: center
}




/* SMALL HEADER */


h3 {
	color: #000000 !important;
	font-size: 14px !important
}


/* RIGHT SIDE PANEL HEADER */


.sidebar h3 {
	color: #000000 !important;
        font-size: 26px !important;
        font-family: "Frijole", serif;
}


/* RIGHT SIDE PANELS */
.panel {
	background: linear-gradient(90deg, rgba(251,110,115,1) 0%, rgba(255,189,102,1) 25%, rgba(153,251,115,1) 50%, rgba(81,150,255,1) 75%, rgba(216,101,255,1) 100%) !important;
	box-shadow: 2px 3px 3px #ffffff !important;
	border: 3px solid #ffffff !important;
	color: #000000 !important;
	border-radius: 10px
}


/* ENERGY BAR BACKGROUND */
.progress {
	background: rgba(252, 252, 252, 1);
	color: #000000 !important;
	border-radius: 10px !important
}


/* ENERGY BAR COLOR */
.progress-bar {
	background: linear-gradient(90deg, rgba(254,181,184,1) 0%, rgba(252,221,180,1) 18%, rgba(250,255,172,1) 35%, rgba(197,251,176,1) 57%, rgba(175,207,255,1) 80%, rgba(239,190,255,1) 100%);
	color: #000000 !important;
	border-radius: 10px !important
}


/* ENERGY BAR TEXT */
.progress div {
	color: #000000 !important
}


/* CHAT */


.s-chat-message:nth-child(even) /* Even Numbered Messages */ {
	background: rgba(175, 207, 255, 1) !important;
        color: #000000 !important;
	border: 3px solid #ffffff !important
}


.s-chat-message:nth-child(odd) /* Odd Numbered Messages */ {
	background: rgba(175, 207, 255, 1) !important;
        color: #000000 !important;
	border: 3px solid #ffffff !important
}


.s-chat-message__pinned /* Pinned Message */ {
	background: linear-gradient(90deg, rgba(254,181,184,1) 0%, rgba(252,221,180,1) 18%, rgba(250,255,172,1) 35%, rgba(197,251,176,1) 57%, rgba(175,207,255,1) 80%, rgba(239,190,255,1) 100%) !important;
        color: #000000 !important;
	border: 3px solid #ffffff !important
}


.s-chat-message_timestamp /* Timestamps */ {
	color: #000000 !important;
}


div#chatMessageContainer {
	border: 3px solid #ffffff !important;
}


button#label_currentChannel /* Channel Button ie. Main, Sales */ {
	background: linear-gradient(90deg, rgba(251,110,115,1) 0%, rgba(255,189,102,1) 25%, rgba(153,251,115,1) 50%, rgba(81,150,255,1) 75%, rgba(216,101,255,1) 100%) !important;
        color: #000000 !important;
	border: 3px solid #ffffff !important
}


/* LION INFO TABLE (Level, Stats, Territory Count, Etc.) */




/* PANEL BACKGROUND COLOR */


.table {
	background: rgba(252, 252, 252, 1);
	border: 3px solid #ffffff !important;
	border-collapse: separate;
	border-radius: 10px
}




/* HEADERS COLOR (King Name + Title, "There are _ lions with mutations in _'s pride.") */


.top,
.bottom,
th {
	background: linear-gradient(90deg, rgba(251,110,115,1) 0%, rgba(255,189,102,1) 25%, rgba(153,251,115,1) 50%, rgba(81,150,255,1) 75%, rgba(216,101,255,1) 100%) !important;
	color: #000000 !important;
	border-radius: 10px
}


td.bottom a {
        text-decoration: none !important
}


/* Color behind "Level, Stats, Branch, Territory" etc. */


.inner-table .left {
	background: linear-gradient(90deg, rgba(254,181,184,1) 0%, rgba(252,221,180,1) 18%, rgba(250,255,172,1) 35%, rgba(197,251,176,1) 57%, rgba(175,207,255,1) 80%, rgba(239,190,255,1) 100%) !important;
        color: #000000;
	border-radius: 10px
}




/* Color behind the number of all of the things above */


.inner-table .right {
	background: none;
	border-radius: 10px !important
}


td.right {
	border-radius: 10px !important
}


/* IGNORE */
.right_odd {
	background: none !important
}


/* Affects the color behind "_ Unsorted", "_ Pregnant Lionesses", "View Pride Overview", and cave/mound names */


.cave-grid,
.mound-grid {
	background: linear-gradient(90deg, rgba(254,181,184,1) 0%, rgba(252,221,180,1) 18%, rgba(250,255,172,1) 35%, rgba(197,251,176,1) 57%, rgba(175,207,255,1) 80%, rgba(239,190,255,1) 100%);
	border: 3px solid #ffffff !important;
	border-radius: 10px !important
}


/* FEED ALL, PLAY ALL */


.feature {
	background: linear-gradient(90deg, rgba(251,110,115,1) 0%, rgba(255,189,102,1) 25%, rgba(153,251,115,1) 50%, rgba(81,150,255,1) 75%, rgba(216,101,255,1) 100%) !important;
	color: #000000 !important;
	border: 3px solid #ffffff !important;
	border-radius: 10px !important
}


/* "King Dynasty, Pride Dynasty, Achievements, Showcase" Panels */


.feature,
div.left {
	background: linear-gradient(90deg, rgba(254,181,184,1) 0%, rgba(252,221,180,1) 18%, rgba(250,255,172,1) 35%, rgba(197,251,176,1) 57%, rgba(175,207,255,1) 80%, rgba(239,190,255,1) 100%);
	border: 3px solid #ffffff;
	border-radius: 10px !important
}


/* Block of color behind "Territory Description, Player Name, Avatar URL" etc. */


.table .left {
	background: rgba(252, 252, 252, 1);
        border-radius: 10px
}


/* Color behind the content of the elements listed above */


input,
select,
textarea {
	background: linear-gradient(90deg, rgba(254,181,184,1) 0%, rgba(252,221,180,1) 18%, rgba(250,255,172,1) 35%, rgba(197,251,176,1) 57%, rgba(175,207,255,1) 80%, rgba(239,190,255,1) 100%) !important;
	border: 3px solid #ffffff !important;
	border-radius: 10px !important;
	color: #000000 !important;
	box-shadow: 2px 3px 3px #ffffff !important;
	text-shadow: 2px 3px 3px #ffffff !important
}


/* ACCOUNT OPTIONS PANELS  (Friend Requests Toggles, etc.) */


.item-header {
	background: linear-gradient(90deg, rgba(251,110,115,1) 0%, rgba(255,189,102,1) 25%, rgba(153,251,115,1) 50%, rgba(81,150,255,1) 75%, rgba(216,101,255,1) 100%) !important;
	color: #000000 !important;
	border-radius: 10px !important;
}


.item {
	background: rgba(252, 252, 252, 1) !important;
	border: 3px solid #ffffff !important;
	border-radius: 10px !important
}


/* ACCOUNT OPTIONS ON/OFF TOGGLE SWITCH */


div.slider.round /* Background */ {
	background: #ffffff !important
}


div.slider.round::before /* Circle Part */ {
	background: #efbeff !important
}


/* Copyright, Terms of Service, CoC, etc. */


div.container.footer.center.white.visible-lg.visible-md.visible-sm, div.container.footer.center.white.visible-lg.visible-md.visible-sm a {
        color: #000000 !important;
        text-shadow: 2px 3px 3px #ffffff !important
}


/* LINK COLOR */


a:link,
a:visited {
	color: #000000 !important
}


/* LINK HOVER COLOR */


a:hover {
	color: #ffffff !important
}




/* BOX CONTAINER */


.boxcontainer {
	background: none;
	height: auto;
	padding: 0px;
	justify-content: center;
	display: flex
}


/* BOXES */


.smallbox {
	float: left;
	background: linear-gradient(90deg, rgba(254,181,184,0.5) 0%, rgba(252,221,180,0.5) 18%, rgba(250,255,172,0.5) 35%, rgba(197,251,176,0.5) 57%, rgba(175,207,255,0.5) 80%, rgba(239,190,255,0.5) 100%);
	color: #000000;
	padding: 10px;
	border: 3px solid #ffffff;
	border-radius: 10px;
	margin: 10px;
	height: 150px;
	width: 28.4%;
	overflow: auto
}


.mediumbox {
	float: left;
	background: linear-gradient(90deg, rgba(254,181,184,0.5) 0%, rgba(252,221,180,0.5) 18%, rgba(250,255,172,0.5) 35%, rgba(197,251,176,0.5) 57%, rgba(175,207,255,0.5) 80%, rgba(239,190,255,0.5) 100%);
	color: #000000;
	padding: 10px;
	border: 3px solid #ffffff;
	border-radius: 10px;
	margin: 10px;
	height: 150px;
	width: 43.8%;
	overflow: auto
}


.largebox {
	float: left;
	background: linear-gradient(90deg, rgba(254,181,184,0.5) 0%, rgba(252,221,180,0.5) 18%, rgba(250,255,172,0.5) 35%, rgba(197,251,176,0.5) 57%, rgba(175,207,255,0.5) 80%, rgba(239,190,255,0.5) 100%);
	color: #000000;
	padding: 10px;
	border: 3px solid #ffffff;
	border-radius: 10px;
	margin: 10px;
	height: 150px;
	width: 90%;
	overflow: auto
}


/* HOVER BOXES */


.smallhoverbox {
	float: left;
	background: rgba(1, 1, 1, 0.5);
	color: #000000;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 50px;
	width: 28.4%;
	overflow: auto;
        transition: 3s
}


.smallhoverbox:hover {
	height: 150px;
	width: 28.4%;
}


.mediumhoverbox {
	float: left;
	background: rgba(1, 1, 1, 0.5);
	color: #000000;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 50px;
	width: 43.8%;
	overflow: auto;
        transition: 3s
}


.mediumhoverbox:hover {
	height: 150px;
	width: 43.8%;
}


.largehoverbox {
	float: left;
	background: rgba(1, 1, 1, 0.5);
	color: #000000;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 150px;
	width: 90%;
	overflow: auto;
        transition: 3s
}


.largehoverbox:hover {
	height: 150px;
	width: 90%;
}


/* SCROLL BAR */


/* WIDTH */


::-webkit-scrollbar {
	width: 10px
}




/* BACKGROUND */


::-webkit-scrollbar-track {
	background: #ffffff
}




/* "THUMB" */


::-webkit-scrollbar-thumb {
	background: #feb5b8;
	border-radius: 10px
}




/* LION AND USER AVATAR OPACITY */


div#lion_image {
	opacity: 1
}


table#player img {
	opacity: 1
}




/* CIRCULAR LION AND USER AVATAR */


div#lion_image {
	border-radius: 20% !important;
	overflow: hidden;
	margin-top: 15px; /* May need adjusting */
	margin-left: 12px /* May need adjusting */
}


table#player img {
	border-radius: 20% !important;
	overflow: hidden
}




/* LIODEN LOGO REPLACER */


div.container.main>div:nth-child(1)>nav>div.navbar-header>a>img {
	content: url('https://i.postimg.cc/L4jmZjDQ/Untitled2-20250219161924.png')
}


/* CAVE / MOUND IMAGES */


img[src$="nestingbanner.png"] {
  content: url("https://i.postimg.cc/MTVJV87f/unsortpregovw.png") !important;
}

img[src$="overviewbanner.png"] {
  content: url("https://i.postimg.cc/MTVJV87f/unsortpregovw.png") !important;
}

img[src$="unsortedlionsbanner.png"] {
  content: url("https://i.postimg.cc/MTVJV87f/unsortpregovw.png") !important;
}

img[src$="cavedefault.jpg"] {
  content: url("https://i.postimg.cc/s2tRM2hR/app-murex-haliotis-1.png") !important;
}


.mound-grid img /* Mound(s) */ {
	background: url("https://i.postimg.cc/L6TRxRrz/Untitled4-20250219165135.png");
	width: 0;
	height: 0;
	padding-top: 80px;
	padding-right: 130px
}


/* SIDEBAR ARROWS */
 
/* TOP */
 
div.col-xs-6 > a > h3 > div {
    content:url('https://i.postimg.cc/JhHfCWdY/arrow1.png');
    position:relative;
    width:20px;
}
 
/* MIDDLE */
 
div.col-xs-5> a:nth-child(1) > h3 > div {
    content:url('https://i.postimg.cc/76vpxQFH/arrow2.png');
    position:relative;
    width:20px;
}
 
/* BOTTOM */
 
div.col-xs-5> a:nth-child(3) > h3 > div {
    content:url('https://i.postimg.cc/GmHNvCr3/arrow3.png');
    position:relative;
    width:20px;
}


/* dynasty list adjustment code by tawnyCollar#251887. may be used in commissions, personal CSS, and free CSS. do NOT remove credit, or reupload claiming it as your own. */
 
/* change beetle book image */
img[src$="den_ancestors.png"] {
    background:none!important; 
       content:url('https://i.postimg.cc/Qx0gh92V/rainbowstones.png')!important;
}
img[src$="den_ancestorsfem.png"] {
    background:none!important; 
        content:url('https://i.postimg.cc/6pfk909n/gem-alexandrite.png')!important;
}
img[src$="den_achievements.png"] {
    background:none!important; 
       content:url('https://i.postimg.cc/Qx0gh92V/rainbowstones.png')!important;
}
img[src$="den_showcase.png"] {
    background:none!important; 
    content:url('https://i.postimg.cc/6pfk909n/gem-alexandrite.png')!important;   
}
img[src$="den_beetlebook.png"] {
    background:none!important; 
       content:url('https://i.postimg.cc/Qx0gh92V/rainbowstones.png');
}
 
/* fits all elements on one line */
body > div.container.main > div > div.col-md-9.col-xs-12 > center {
    flex-wrap: nowrap; 
    justify-content: space-between; 
}
.dynastylist {
    flex: 1 1 auto;
    max-width: 20%; 
    box-sizing: border-box; 
}
/* resizes all images to fit the new layout */
.dynastylist img {
    height: 100%!important;
     width: 100%!important;
    border-radius: 10px;
}
 
/* font option 1 - apply font size to all headers at once.  */
.dynastylist h3 {
    word-break: break-all;
    font-size: 15px !important; /* Adjust font size for all headers */
}

img[src$="icon-beetle-gold.png"] {
    content:url('https://i.postimg.cc/qqrVGZwb/GBimg.png')!important;
}
img[src$="icon-beetle-silver.png"] {
    content:url('https://i.postimg.cc/Y2NwSM2J/sbprideimg.png')!important;
}


/*-------------------------*/
/*Comment Box CODE BY HOK-Z*/
/*-------------------------*/
#commentBox {
  background: rgba(252, 252, 252, 0.5);
 border: 3px solid #ffffff !important;}

div.comment {background: linear-gradient(90deg, rgba(254,181,184,1) 0%, rgba(252,221,180,1) 18%, rgba(250,255,172,1) 35%, rgba(197,251,176,1) 57%, rgba(175,207,255,1) 80%, rgba(239,190,255,1) 100%) !important;
            border-bottom: 3px solid #ffffff;
            font-weight: bold;}

div#makeComment {background: linear-gradient(90deg, rgba(254,181,184,1) 0%, rgba(252,221,180,1) 18%, rgba(250,255,172,1) 35%, rgba(197,251,176,1) 57%, rgba(175,207,255,1) 80%, rgba(239,190,255,1) 100%) !important;
                border: 3px solid #ffffff;
                border-radius: 10px;}

div.commentText {color: #FFFFFF;}

input#comment {background: #fcddb4 !important;
              color: #000000 !important;}

input[type="button"].bad {background: linear-gradient(90deg, rgba(251,110,115,1) 0%, rgba(255,189,102,1) 25%, rgba(153,251,115,1) 50%, rgba(81,150,255,1) 75%, rgba(216,101,255,1) 100%) !important;}

.commentTag.clear {border: 3px solid #ffffff;}


/* MAKES BOXES/DESCRIPTION SHOW ON MOBILE */


@media only screen and (max-width: 767px) {
        .container.main .hidden-xs {
            display: block !important;
        }
}


@media only screen and (max-width: 991px) and (min-width: 768px) {
	display: block !important;
}


@media only screen and (min-width: 1200px) {
		div.quote {
			width: 790px;
		}
	}
