#outer {
  background: url("https://i.postimg.cc/tRWcGdKq/puprle.jpg");
  border: 3px solid #492c52;
}

#header {
  background: #c681db;
  border: 3px solid #492c52;
  border-radius: 5px;
}

#dashboard {
  background: #c681db;
  border: 3px solid #492c52;
  border-radius: 5px;
}

#main {
  border: 3px solid #492c52;
}
  
#footer .module {
  background: #c681db;
  border: 3px solid #492c52;
  border-radius: 5px;
}

#inner .region {
  padding: 1.5em;
}

#header {
  background: #9e6dad;
  border: 3px solid #492c52;
  border-radius: 5px;
}

#dashboard {
  background: #9e6dad;
  border: 3px solid #492c52;
  border-radius: 5px;
}
  
#main {
  background: #9e6dad;
  border: 3px solid #492c52;
}

#inner .group {
  background: #dfa8f0;
  border: 3px solid #492c52;
  border-radius: 5px;
}

#footer .module {
  background: #9e6dad;
  border: 3px solid #492c52;
}
  
fieldset,
.flash {
  background: #dfa8f0;
  border: 3px solid #492c52;
  outline: 0;
  border-radius: 2px;
  box-shadow: none;
  margin-bottom: 2px;
}

.blurb .module,
#inner .group .group .group,
fieldset fieldset {
  border: 3px solid #492c52;
  box-shadow: none;
}

.group .header,
.blurb ul.tags,
.blurb blockquote,
#outer .current {
  background: #9e6dad;
  border: 3px solid #492c52;
  border-radius: 1.5px;
  padding: 0.5px;
}

.group .header {
  width: 96%;
}

#footer {
  background: none;
  border: none;
}

#header h1 {
  top: 0.5px;
  left: 0.5px;
}

#header #greeting {
  right: 2px;
}

#header h1 img {
  opacity: 0.75;
}

#header li.search {
  float: none;
  display: block;
  margin-top: 0.6px;
}

#header li.search input {
  border: none;
}

#header ul.primary a,
#header ul.primary .menu a,
#header .dropdown .menu a:hover,
#header .dropdown .menu a:focus {
  background: #ffffff;
}

#dashboard {
  width: 20%;
}

#main.dashboard {
  margin: auto 1.5px;
  position: relative;
  clear: none;
  float: right;
  width: 60%;
}

#outer #footer .heading,
#outer #footer .actions a,
#header ul.primary a {
  color: #ffffff;
}

.blurb ul.required-tags li span,
.bookmark .status span,
.actions a,
.actions a:visited,
.action,
.actions input,
input[type="submit"],
button,
.current,
.actions label,
legend,
textarea,
input,
#header ul.primary a,
.icon {
  background: #f1c2ff;
  border: 3px solid #492c52;
  border-radius: 1.5px;
  box-shadow: none;
}
    
.icon {
  border-radius: 5px;
}

#main .index,
#header ul.primary,
#header ul.primary .menu {
  box-shadow: none;
  border: none;
  background: transparent;
}

#header .primary .menu li {
  border-bottom: none;
}
