/*
Free to use CSS template by Katie (#106445).
This code may be altered, edited, or re-uploaded. 
This template may be used to create paid codes (pre-mades and commissions).
Please do NOT remove this credit, unless your coding becomes unrecognizable from this one! 
*/

/* FONT (From Google Fonts) */

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

/* BACKGROUND */

body {
	background: url('https://media.discordapp.net/attachments/1169778124293165076/1170053273777078354/Untitled270_20231103173322.png?ex=6557a407&is=65452f07&hm=d3b537ae8cb18e9fbda14285646738f0f485111eceaf797bcceb9b94cd542c03&') no-repeat center center fixed;
	background-size: cover;
	font-family: 'Shadows Into Light', cursive;';
	color: #FFFFFF
}

/* MAIN PANEL */

/* RIGHT SIDE */
.container.main {
	background: rgba(41, 41, 41, 0.5);
	border: 3px solid #5e1b16;
	box-shadow: none;
	border-radius: 0px
}

/* LEFT SIDE */
.col-md-9 {
	background: none;
        border-right: none
}

/* TOPBAR ("Welcome back, ___") */

.topbar {
	background: linear-gradient(to right, #771515, #1e1e1d);
	border: 3px solid #5e1b16;
	border-top: none;
	color: #FFFFFF;
	border-radius: 0px;
}

/* NAVBAR (Den/Crossroads/Etc.) */

.navbar {
	background: linear-gradient(to right, #771515, #1e1e1d);
	border-bottom: 3px solid #5e1b16;
	color: #FFFFFF;
	border-radius: 0px
}

/* NAVBAR BUTTON TEXT COLOR */

.navbar li a {
	color: #FFFFFF !important
}

/* NAVBAR BUTTON HOVER */

.navbar li a:hover {
	background: rgba(61, 60, 60, 0.5) !important;
	border-bottom: 3px solid #5e1b16;
	color: #FFFFFF !important;
	border-radius: 0px
}

/* BREADCRUMB (Home / Den) */

.breadcrumb {
	background: rgba(41, 38, 38, 0.5) !important;
        border: 3px solid #5e1b16;
	border-radius: 0px
}

/* BREADCRUMB TEXT */

.breadcrumb .active {
	color: #FFFFFF
}

/* CSS CREDIT */

.breadcrumb::after {
        content: "Template by Katie (#106445)|CSS by Red (#261489)";
        color: #FFFFFF;
        position: absolute;
        right: 13%; /* (This may need adjusting) */
        z-index: 100
    }

@media only screen and (max-width: 1199px) and (min-width: 992px)  {
        .breadcrumb::after {
            right: 20%
        }
    }

    @media only screen and (max-width: 991px) and (min-width: 768px)  {
        .breadcrumb::after {
            right: 20%
        }
    }

    @media only screen and (max-width: 767px) {
        .breadcrumb::after {
            right: 22%
        }
    }

/* BOOKMARK BUTTON */

input.floatright, input.floatright:hover {
	background: linear-gradient(to right, #771515, #1e1e1d) !important;
        border: 3px solid #5e1b16 !important;
	border-radius: 0px;
	color: #FFFFFF !important;    
}

/* SWITCH ACCOUNT BUTTON */

button.button, button.button:hover {
	background: linear-gradient(to right, #771515, #1e1e1d);
        border: 3px solid #5e1b16 !important;
	border-radius: 0px;
        text-shadow: none !important;
	color: #FFFFFF !important
}

/* ALERTS (ie. "Your lionesses have returned from hunting!") */

.alert,
.alert-warning,
.alert-danger {
	background: rgba(145, 145, 145, 0.5) !important;
	border: 3px solid #5e1b16;
	color: #FFFFFF;
	border-radius: 0px !important
}

/* BIGGEST HEADER ("___"'s DEN) */

h1 {
	color: #6e6c6b;
	font-size: 90px;
	text-align: center;
        font-family: 'Shadows Into Light', cursive;'
}


/* MEDIUM HEADER */

h2 {
	color: #6e6c6b;
	font-size: 24px;
	text-align: center
}


/* SMALL HEADER */

h3 {
	color: #6e6c6b !important;
	font-size: 14px !important
}

/* RIGHT SIDE PANEL HEADER */

.sidebar h3 {
	color: #FFFFFF !important;
        font-size: 26px !important;
        font-family: 'Shadows Into Light', cursive;'
}

/* RIGHT SIDE PANELS */
.panel {
	background: rgba(77, 44, 41, 0.5) !important;
	box-shadow: none !important;
	border: none !important;
	color: #FFFFFF !important;
	border-radius: 0px
}

/* ENERGY BAR BACKGROUND */
.progress {
	background: rgba(48, 47, 47, 0.5);
	color: #FFFFFF !important;
	border-radius: 0px !important
}

/* ENERGY BAR COLOR */
.progress-bar {
	background: linear-gradient(to right, #771515, #1e1e1d);
	color: #FFFFFF !important;
	border-radius: 0px !important
}

/* ENERGY BAR TEXT */
.progress div {
	color: #FFFFFF !important
}

/* CHAT */

.s-chat-message:nth-child(even) /* Even Numbered Messages */ {
	background: rgba(107, 107, 107, 0.5) !important;
        color: #FFFFFF !important;
	border: 3px solid #5e1b16 !important
}

.s-chat-message:nth-child(odd) /* Odd Numbered Messages */ {
	background: rgba(66, 24, 21, 0.5) !important;
        color: #FFFFFF !important;
	border: 3px solid #5e1b16 !important
}

.s-chat-message__pinned /* Pinned Message */ {
	background: linear-gradient(to right, #771515, #1e1e1d) !important;
        color: #FFFFFF !important;
	border: 3px solid #5e1b16 !important
}

.s-chat-message_timestamp /* Timestamps */ {
	color: #FFFFFF !important;
}

div#chatMessageContainer {
	border: 3px solid #5e1b16 !important;
}

button#label_currentChannel /* Channel Button ie. Main, Sales */ {
	background: linear-gradient(to right, #7f7f7f, #000000) !important;
        color: #FFFFFF !important;
	border: 3px solid #5e1b16 !important
}

/* LION INFO TABLE (Level, Stats, Territory Count, Etc.) */


/* PANEL BACKGROUND COLOR */

.table {
	background: rgba(107, 106, 106, 0.5);
	border: 3px solid #5e1b16 !important;
	border-collapse: separate;
	border-radius: 0px
}


/* HEADERS COLOR (King Name + Title, "There are _ lions with mutations in _'s pride.") */

.top,
.bottom,
th {
	background: linear-gradient(to right, #771515, #1e1e1d) !important;
	color: #FFFFFF !important;
	border-radius: 0px
}

td.bottom a {
        text-decoration: none !important
}

/* Color behind "Level, Stats, Branch, Territory" etc. */

.inner-table .left {
	background: linear-gradient(to right, #771515, #1e1e1d) !important;
        color: #FFFFFF;
	border-radius: 0px
}


/* Color behind the number of all of the things above */

.inner-table .right {
	background: none;
	border-radius: 0px !important
}

td.right {
	border-radius: 0px !important
}

/* IGNORE */
.right_odd {
	background: none !important
}

/* Affects the color behind "_ Unsorted", "_ Pregnant Lionesses", "View Pride Overview", and cave/mound names */

.cave-grid,
.mound-grid {
	background: linear-gradient(to right, #ff6767, #650d0d);
	border: 3px solid #5e1b16 !important;
	border-radius: 0px !important
}

/* FEED ALL, PLAY ALL */

.feature {
	background: rgba(79, 34, 31, 0.5) !important;
	color: #FFFFFF !important;
	border: 3px solid #5e1b16 !important;
	border-radius: 0px !important
}

/* "King Dynasty, Pride Dynasty, Achievements, Showcase" Panels */

.feature,
div.left {
	background: linear-gradient(to right, #ff6767, #650d0d);
	border: 3px solid #5e1b16;
	border-radius: 0px !important
}

/* Block of color behind "Territory Description, Player Name, Avatar URL" etc. */

.table .left {
	background: rgba(105, 105, 105, 0.5);
        border-radius: 0px
}

/* Color behind the content of the elements listed above */

input,
select,
textarea {
	background: rgba(79, 54, 52, 0.5) !important;
	border: 3px solid #5e1b16 !important;
	border-radius: 0px !important;
	color: #FFFFFF !important;
	box-shadow: none !important;
	text-shadow: none !important
}

/* ACCOUNT OPTIONS PANELS  (Friend Requests Toggles, etc.) */

.item-header {
	background: linear-gradient(to right, #ff6767, #650d0d) !important;
	color: #FFFFFF  !important;
	border-radius: 0px !important;
}

.item {
	background: rgba(120, 120, 120, 0.5) !important;
	border: 3px solid #5e1b16 !important;
	border-radius: 0px !important
}

/* ACCOUNT OPTIONS ON/OFF TOGGLE SWITCH */

div.slider.round /* Background */ {
	background: #FFFFFF !important
}

div.slider.round::before /* Circle Part */ {
	background: #000000 !important
}

/* Copyright, Terms of Service, CoC, etc. */

div.container.footer.center.white.visible-lg.visible-md.visible-sm, div.container.footer.center.white.visible-lg.visible-md.visible-sm a {
        color: #000000 !important;
        text-shadow: none !important
}

/* LINK COLOR */

a:link,
a:visited {
	color: #ffffff !important
}

/* LINK HOVER COLOR */

a:hover {
	color: #ffffff !important
}


/* BOX CONTAINER */

.boxcontainer {
	background: none;
	height: auto;
	padding: 0px;
	justify-content: center;
	display: flex
}

/* BOXES */

.smallbox {
	float: left;
	background: rgba(1, 1, 1, 0.5);
	color: #000000;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 150px;
	width: 28.4%;
	overflow: auto
}

.mediumbox {
	float: left;
	background: rgba(1, 1, 1, 0.5);
	color: #000000;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 150px;
	width: 43.8%;
	overflow: auto
}

.largebox {
	float: left;
	background: rgba(1, 1, 1, 0.5);
	color: #000000;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 150px;
	width: 90%;
	overflow: auto
}

/* HOVER BOXES */

.smallhoverbox {
	float: left;
	background: rgba(1, 1, 1, 0.5);
	color: #000000;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 50px;
	width: 28.4%;
	overflow: auto;
        transition: 3s
}

.smallhoverbox:hover {
	height: 150px;
	width: 28.4%;
}

.mediumhoverbox {
	float: left;
	background: rgba(1, 1, 1, 0.5);
	color: #000000;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 50px;
	width: 43.8%;
	overflow: auto;
        transition: 3s
}

.mediumhoverbox:hover {
	height: 150px;
	width: 43.8%;
}

.largehoverbox {
	float: left;
	background: rgba(1, 1, 1, 0.5);
	color: #000000;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 150px;
	width: 90%;
	overflow: auto;
        transition: 3s
}

.largehoverbox:hover {
	height: 150px;
	width: 90%;
}

/* SCROLL BAR */

/* WIDTH */

::-webkit-scrollbar {
	width: 10px
}


/* BACKGROUND */

::-webkit-scrollbar-track {
	background: #ffffff
}


/* "THUMB" */

::-webkit-scrollbar-thumb {
	background: #000000;
	border-radius: 0px
}


/* LION AND USER AVATAR OPACITY */

div#lion_image {
	opacity: 1
}

table#player img {
	opacity: 1
}


/* CIRCULAR LION AND USER AVATAR */

div#lion_image {
	border-radius: 50% !important;
	overflow: hidden;
	margin-top: 15px; /* May need adjusting */
	margin-left: 12px /* May need adjusting */
}

table#player img {
	border-radius: 50% !important;
	overflow: hidden
}


/* LIODEN LOGO REPLACER */

div.container.main>div:nth-child(1)>nav>div.navbar-header>a>img {
	content: url('https://media.discordapp.net/attachments/1169778124293165076/1170054223761780746/Untitled276_20231103173736.png?ex=6557a4e9&is=65452fe9&hm=43c48872c8becb41d07f92a812b41313b776e04807dc7abb103bacd877fd853f&')
}

/* CAVE / MOUND IMAGES */

img[src$="nestingbanner.png"] {
  content: url("https://media.discordapp.net/attachments/1169778124293165076/1170053654343061626/Untitled283_20231103173522.png?ex=6557a461&is=65452f61&hm=f0a97454b9063b60e15e9c0205e4188beaf2d929e94b206298eb5b73ef5faceb&") !important;
}

img[src$="overviewbanner.png"] {
  content: url("https://media.discordapp.net/attachments/1169778124293165076/1170053654343061626/Untitled283_20231103173522.png?ex=6557a461&is=65452f61&hm=f0a97454b9063b60e15e9c0205e4188beaf2d929e94b206298eb5b73ef5faceb&") !important;
}

img[src$="unsortedlionsbanner.png"] {
  content: url("https://media.discordapp.net/attachments/1169778124293165076/1170053654343061626/Untitled283_20231103173522.png?ex=6557a461&is=65452f61&hm=f0a97454b9063b60e15e9c0205e4188beaf2d929e94b206298eb5b73ef5faceb&") !important;
}

img[src$="cavedefault.jpg"] {
  content: url("https://media.discordapp.net/attachments/1169778124293165076/1170053400575094895/Untitled272_20231103173420.png?ex=6557a425&is=65452f25&hm=20f76954183424cdf5fb37c7fb314c741b6a633f3f9f3618f51907f28d07416b&") !important;
}

.mound-grid img /* Mound(s) */ {
	background: url("https://media.discordapp.net/attachments/1169778124293165076/1170054042412662785/Untitled278_20231103173607.png?ex=6557a4be&is=65452fbe&hm=ca250994e02b8992e46237a3e3b9bf653be8bf39593bc49dfd1e1e70f97e8195&");
	width: 0;
	height: 0;
	padding-top: 80px;
	padding-right: 130px
}

/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/movie/mov-1/mov32.cur), auto !important;} /* End https://www.cursors-4u.com */

/* MAKES BOXES/DESCRIPTION SHOW ON MOBILE */

@media only screen and (max-width: 767px) {
        .container.main .hidden-xs {
            display: block !important;
        }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
	display: block !important;
}

@media only screen and (min-width: 1200px) {
		div.quote {
			width: 790px;
		}
  }
