/*
Free to use CSS template by Katie (#106445).
This code may be altered, edited, or re-uploaded. 
This template may be used to create paid codes (pre-mades and commissions).
Please do NOT remove this credit, unless your coding becomes unrecognizable from this one! 
*/

/* FONT (From Google Fonts) */

@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Satisfy&display=swap');

/* BACKGROUND */

body {
	background: url('https://media.discordapp.net/attachments/1169778124293165076/1171977586792992778/Untitled275_20231109005256.png?ex=655ea42e&is=654c2f2e&hm=fb9f96cf3114827dee484faa8f7cd3e2f028b6902b54a02087347585b2f390aa&') no-repeat center center fixed;
	background-size: cover;
	font-family: 'Dosis', sans-serif;';
	color: #FFFFFF
}

/* MAIN PANEL */

/* RIGHT SIDE */
.container.main {
	background: rgba(78, 66, 98, 0.5);
	border: 3px dotted #6c547a;
	box-shadow: 5px 10px;
	border-radius: 10px
}

/* LEFT SIDE */
.col-md-9 {
	background: none;
        border-right: 3px dotted #6c547a
}

/* TOPBAR ("Welcome back, ___") */

.topbar {
	background: rgba(24, 19, 33, 0.5);
	border: 3px dotted #6c547a;
	border-top: none;
	color: #FFFFFF;
	border-radius: 10px;
}

/* NAVBAR (Den/Crossroads/Etc.) */

.navbar {
	background: rgba(53, 43, 67, 0.5);
	border-bottom: 3px dotted #6c547a;
	color: #FFFFFF;
	border-radius: 10px
}

/* NAVBAR BUTTON TEXT COLOR */

.navbar li a {
	color: #FFFFFF !important
}

/* NAVBAR BUTTON HOVER */

.navbar li a:hover {
	background: rgba(34, 28, 44, 0.5) !important;
	border-bottom: 3px dotted #6c547a;
	color: #FFFFFF !important;
	border-radius: 10px
}

/* BREADCRUMB (Home / Den) */

.breadcrumb {
	background: rgba(78, 66, 98, 0.5) !important;
        border: 3px dotted #6c547a;
	border-radius: 10px
}

/* BREADCRUMB TEXT */

.breadcrumb .active {
	color: #FFFFFF
}

/* CSS CREDIT */

.breadcrumb::after {
        content: "Template by Katie (#106445)|CSS by Red (#261489)";
        color: #FFFFFF;
        position: absolute;
        right: 13%; /* (This may need adjusting) */
        z-index: 100
    }

@media only screen and (max-width: 1199px) and (min-width: 992px)  {
        .breadcrumb::after {
            right: 20%
        }
    }

    @media only screen and (max-width: 991px) and (min-width: 768px)  {
        .breadcrumb::after {
            right: 20%
        }
    }

    @media only screen and (max-width: 767px) {
        .breadcrumb::after {
            right: 22%
        }
    }

/* BOOKMARK BUTTON */

input.floatright, input.floatright:hover {
	background: linear-gradient(to right, rgba(24,19,33,0.80) 0%, rgba(53,35,75,0.80) 50%, rgba(110,94,137,0.80) 100%); !important;
        border: 3px dotted #6c547a !important;
	border-radius: 10px;
	color: #FFFFFF !important;    
}

/* SWITCH ACCOUNT BUTTON */

button.button, button.button:hover {
	background: linear-gradient(to right, rgba(24,19,33,0.80) 0%, rgba(53,35,75,0.80) 50%, rgba(110,94,137,0.80) 100%);
        border: 3px dotted #6c547a !important;
	border-radius: 10px;
        text-shadow: 5px 10px !important;
	color: #FFFFFF !important
}

/* ALERTS (ie. "Your lionesses have returned from hunting!") */

.alert,
.alert-warning,
.alert-danger {
	background: rgba(24, 19, 33, 0.5) !important;
	border: 3px dotted #6c547a;
	color: #FFFFFF;
	border-radius: 10px !important
}

/* BIGGEST HEADER ("___"'s DEN) */

h1 {
	color: #c0a3d1;
	font-size: 90px;
	text-align: center;
        font-family: 'Satisfy', cursive;'
}


/* MEDIUM HEADER */

h2 {
	color: #c0a3d1;
	font-size: 24px;
	text-align: center
}


/* SMALL HEADER */

h3 {
	color: #c0a3d1 !important;
	font-size: 14px !important
}

/* RIGHT SIDE PANEL HEADER */

.sidebar h3 {
	color: #c0a3d1 !important;
        font-size: 26px !important;
        font-family: 'Satisfy', cursive;'
}

/* RIGHT SIDE PANELS */
.panel {
	background: rgba(78, 66, 98, 0.5) !important;
	box-shadow: 5px 10px !important;
	border: 3px dotted #6c547a !important;
	color: #FFFFFF !important;
	border-radius: 10px
}

/* ENERGY BAR BACKGROUND */
.progress {
	background: rgba(34, 28, 44, 0.5);
	color: #FFFFFF !important;
	border-radius: 10px !important
}

/* ENERGY BAR COLOR */
.progress-bar {
	background: linear-gradient(to right, rgba(24,19,33,0.80) 0%, rgba(53,35,75,0.80) 50%, rgba(110,94,137,0.80) 100%);
	color: #FFFFFF !important;
	border-radius: 10px !important
}

/* ENERGY BAR TEXT */
.progress div {
	color: #FFFFFF !important
}

/* CHAT */

.s-chat-message:nth-child(even) /* Even Numbered Messages */ {
	background: rgba(110, 94, 137, 0.5) !important;
        color: #FFFFFF !important;
	border: 3px dotted #6c547a !important
}

.s-chat-message:nth-child(odd) /* Odd Numbered Messages */ {
	background: rgba(81, 66, 89, 0.5) !important;
        color: #FFFFFF !important;
	border: 3px dotted #6c547a !important
}

.s-chat-message__pinned /* Pinned Message */ {
	background: linear-gradient(to right, rgba(24,19,33,0.80) 0%, rgba(53,35,75,0.80) 50%, rgba(110,94,137,0.80) 100%) !important;
        color: #FFFFFF !important;
	border: 3px dotted #6c547a !important
}

.s-chat-message_timestamp /* Timestamps */ {
	color: #FFFFFF !important;
}

div#chatMessageContainer {
	border: 3px dotted #6c547a !important;
}

button#label_currentChannel /* Channel Button ie. Main, Sales */ {
	background: rgba(53, 43, 67, 0.5) !important;
        color: #FFFFFF !important;
	border: 3px dotted #6c547a !important
}

/* LION INFO TABLE (Level, Stats, Territory Count, Etc.) */


/* PANEL BACKGROUND COLOR */

.table {
	background: rgba(110, 94, 137, 0.5);
	border: 3px dotted #6c547a !important;
	border-collapse: separate;
	border-radius: 10px
}


/* HEADERS COLOR (King Name + Title, "There are _ lions with mutations in _'s pride.") */

.top,
.bottom,
th {
	background: linear-gradient(to right, rgba(24,19,33,0.80) 0%, rgba(53,35,75,0.80) 50%, rgba(110,94,137,0.80) 100%) !important;
	color: #FFFFFF !important;
	border-radius: 10px
}

td.bottom a {
        text-decoration: none !important
}

/* Color behind "Level, Stats, Branch, Territory" etc. */

.inner-table .left {
	background: rgba(120, 84, 140, 0.6) !important;
        color: #FFFFFF;
	border-radius: 10px
}


/* Color behind the number of all of the things above */

.inner-table .right {
	background: none;
	border-radius: 10px !important
}

td.right {
	border-radius: 10px !important
}

/* IGNORE */
.right_odd {
	background: none !important
}

/* Affects the color behind "_ Unsorted", "_ Pregnant Lionesses", "View Pride Overview", and cave/mound names */

.cave-grid,
.mound-grid {
	background: rgba(34, 28, 44, 0.5);
	border: 3px dotted #6c547a !important;
	border-radius: 10px !important
}

/* FEED ALL, PLAY ALL */

.feature {
	background: rgba(78, 66, 98, 0.5) !important;
	color: #FFFFFF !important;
	border: 3px dotted #6c547a !important;
	border-radius: 10px !important
}

/* "King Dynasty, Pride Dynasty, Achievements, Showcase" Panels */

.feature,
div.left {
	background: rgba(53, 43, 67, 0.5);
	border: 3px dotted #6c547a;
	border-radius: 10px !important
}

/* Block of color behind "Territory Description, Player Name, Avatar URL" etc. */

.table .left {
	background: rgba(110, 94, 137, 0.5);
        border-radius: 10px
}

/* Color behind the content of the elements listed above */

input,
select,
textarea {
	background: rgba(114, 103, 120, 0.5) !important;
	border: 3px dotted #6c547a !important;
	border-radius: 10px !important;
	color: #FFFFFF !important;
	box-shadow: 5px 10px !important;
	text-shadow: 5px 10px !important
}

/* ACCOUNT OPTIONS PANELS  (Friend Requests Toggles, etc.) */

.item-header {
	background: linear-gradient(to right, rgba(24,19,33,0.80) 0%, rgba(53,35,75,0.80) 50%, rgba(110,94,137,0.80) 100%) !important;
	color: #FFFFFF  !important;
	border-radius: 10px !important;
}

.item {
	background: rgba(78, 66, 98, 0.5) !important;
	border: 3px dotted #6c547a !important;
	border-radius: 10px !important
}

/* ACCOUNT OPTIONS ON/OFF TOGGLE SWITCH */

div.slider.round /* Background */ {
	background: #181321 !important
}

div.slider.round::before /* Circle Part */ {
	background: #6e5e89 !important
}

/* Copyright, Terms of Service, CoC, etc. */

div.container.footer.center.white.visible-lg.visible-md.visible-sm, div.container.footer.center.white.visible-lg.visible-md.visible-sm a {
        color: #FFFFFF !important;
        text-shadow: 5px 10px !important
}

/* LINK COLOR */

a:link,
a:visited {
	color: #ffffff !important
}

/* LINK HOVER COLOR */

a:hover {
	color: #ffffff !important
}


/* BOX CONTAINER */

.boxcontainer {
	background: none;
	height: auto;
	padding: 0px;
	justify-content: center;
	display: flex
}

/* BOXES */

.smallbox {
	float: left;
	background: linear-gradient(to right, rgba(102,80,141,0.8) 0%, rgba(193,180,215,0.8) 100%);
	color: #000000;
	padding: 10px;
	border: 3px dotted #6c547a;
	border-radius: 10px;
	margin: 10px;
	height: 150px;
	width: 28.4%;
	overflow: auto
}

.mediumbox {
	float: left;
	background: linear-gradient(to right, rgba(102,80,141,0.8) 0%, rgba(193,180,215,0.8) 100%);
	color: #000000;
	padding: 10px;
	border: 3px dotted #6c547a;
	border-radius: 10px;
	margin: 10px;
	height: 150px;
	width: 43.8%;
	overflow: auto
}

.largebox {
	float: left;
	background: linear-gradient(to right, rgba(102,80,141,0.8) 0%, rgba(193,180,215,0.8) 100%);
	color: #000000;
	padding: 10px;
	border: 3px dotted #6c547a;
	border-radius: 10px;
	margin: 10px;
	height: 150px;
	width: 90%;
	overflow: auto
}

/* HOVER BOXES */

.smallhoverbox {
	float: left;
	background: rgba(1, 1, 1, 0.5);
	color: #000000;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 50px;
	width: 28.4%;
	overflow: auto;
        transition: 3s
}

.smallhoverbox:hover {
	height: 150px;
	width: 28.4%;
}

.mediumhoverbox {
	float: left;
	background: rgba(1, 1, 1, 0.5);
	color: #000000;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 50px;
	width: 43.8%;
	overflow: auto;
        transition: 3s
}

.mediumhoverbox:hover {
	height: 150px;
	width: 43.8%;
}

.largehoverbox {
	float: left;
	background: rgba(1, 1, 1, 0.5);
	color: #000000;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 150px;
	width: 90%;
	overflow: auto;
        transition: 3s
}

.largehoverbox:hover {
	height: 150px;
	width: 90%;
}

/* SCROLL BAR */

/* WIDTH */

::-webkit-scrollbar {
	width: 10px
}


/* BACKGROUND */

::-webkit-scrollbar-track {
	background: #66508d
}


/* "THUMB" */

::-webkit-scrollbar-thumb {
	background: #c1b4d7;
	border-radius: 10px
}


/* LION AND USER AVATAR OPACITY */

div#lion_image {
	opacity: 1
}

table#player img {
	opacity: 1
}


/* CIRCULAR LION AND USER AVATAR */

div#lion_image {
	border-radius: 50% !important;
	overflow: hidden;
	margin-top: 15px; /* May need adjusting */
	margin-left: 12px /* May need adjusting */
}

table#player img {
	border-radius: 50% !important;
	overflow: hidden
}


/* LIODEN LOGO REPLACER */

div.container.main>div:nth-child(1)>nav>div.navbar-header>a>img {
	content: url('https://media.discordapp.net/attachments/1169778124293165076/1171977698168537128/Untitled276_20231109005226.png?ex=655ea449&is=654c2f49&hm=9e09a091d2fd568f8b2d2741aef92d33b4dba63eb810bda7c3a4a25089f43c9f&')
}

/* CAVE / MOUND IMAGES */

img[src$="nestingbanner.png"] {
  content: url("https://media.discordapp.net/attachments/1169778124293165076/1171977657165021204/Untitled283_20231109005543.png?ex=655ea43f&is=654c2f3f&hm=5033205eab0c354d33212438814c70235f3b7b04f73b1c9e4d0dc3b96bd09ec3&") !important;
}

img[src$="overviewbanner.png"] {
  content: url("https://media.discordapp.net/attachments/1169778124293165076/1171977657165021204/Untitled283_20231109005543.png?ex=655ea43f&is=654c2f3f&hm=5033205eab0c354d33212438814c70235f3b7b04f73b1c9e4d0dc3b96bd09ec3&") !important;
}

img[src$="unsortedlionsbanner.png"] {
  content: url("https://media.discordapp.net/attachments/1169778124293165076/1171977657165021204/Untitled283_20231109005543.png?ex=655ea43f&is=654c2f3f&hm=5033205eab0c354d33212438814c70235f3b7b04f73b1c9e4d0dc3b96bd09ec3&") !important;
}

img[src$="cavedefault.jpg"] {
  content: url("https://media.discordapp.net/attachments/1169778124293165076/1171977623115677758/Untitled272_20231109005450.png?ex=655ea437&is=654c2f37&hm=eb2ef12181e7b8ba571a70c319ec4e27b3bc15f5fff4e21b7ab694f9eb03b517&") !important;
}

.mound-grid img /* Mound(s) */ {
	background: url("https://media.discordapp.net/attachments/1169778124293165076/1171977636269015163/Untitled278_20231109005351.png?ex=655ea43a&is=654c2f3a&hm=26e843a9c0d4d54f3380aa1cff94c50c9411f0f51b69ab1817df344919e85ea0&");
	width: 0;
	height: 0;
	padding-top: 80px;
	padding-right: 130px
}

/* LION IMAGE BORDER CODE BY HOK-Z */

#lion_image::after {
    content: url("https://media.discordapp.net/attachments/1169778124293165076/1171977709472194701/Untitled292_20231109005910.png?ex=655ea44c&is=654c2f4c&hm=b0012cc38482d773f54906f22af6cd24cc19d4f989a6444c9375c36f769bec5a&");
    position: absolute;
    left: -2px;
    top: -3px;
}

img[src$="icon-beetle-gold.png"] {
    content:url('https://media.discordapp.net/attachments/1169778124293165076/1172639026373742682/Untitled280_20231110204841.png?ex=65610c32&is=654e9732&hm=7e63c706a1c7cef851353358044c235eac15f5fc5088f4682229cd58303957e3&')!important;
}
img[src$="icon-beetle-silver.png"] {
    content:url('https://media.discordapp.net/attachments/1169778124293165076/1172639026080120922/Untitled280_20231110204826.png?ex=65610c32&is=654e9732&hm=6146584cc2b4defe61c15b35d9915e0967d70a978fcc0640cc85e09c27ef454c&')!important;
}

/* Codes made by Pandora #144118 and Kat .:Red Lion of Voltron:. #94329 
Codes may be edited, used in commissions or for personal use
Please do not remove credit
*/
 
/* KING DYNASTY */
img[src$="ancestors.jpg"] {
    content:url('https://media.discordapp.net/attachments/1169778124293165076/1172639965025403011/Untitled283_20231110205224.png?ex=65610d12&is=654e9812&hm=59524fd92fccd55e0091a7e97a7fa620b2fe00568109572284cda542ccc2c7a8&')!important;
    width:185px!important;
 
}
 
/* PRIDE DYNASTY */
img[src$="ancestorsfem.png"] {
    content:url('https://media.discordapp.net/attachments/1169778124293165076/1172639965025403011/Untitled283_20231110205224.png?ex=65610d12&is=654e9812&hm=59524fd92fccd55e0091a7e97a7fa620b2fe00568109572284cda542ccc2c7a8&')!important;
    width:185px!important;
 
}
 
/* ACHIEVMENTS */
img[src$="achievements.jpg"] {
    content:url('https://media.discordapp.net/attachments/1169778124293165076/1172639965025403011/Untitled283_20231110205224.png?ex=65610d12&is=654e9812&hm=59524fd92fccd55e0091a7e97a7fa620b2fe00568109572284cda542ccc2c7a8&')!important;
    width:185px!important;
 
}
 
/* SHOWCASE */
img[src$="showcase/banner.png"] {
    content:url('https://media.discordapp.net/attachments/1169778124293165076/1172639965025403011/Untitled283_20231110205224.png?ex=65610d12&is=654e9812&hm=59524fd92fccd55e0091a7e97a7fa620b2fe00568109572284cda542ccc2c7a8&')!important;
    width:185px!important;
 
}

/*-------------------------*/
/*Comment Box CODE BY HOK-Z*/
/*-------------------------*/
#commentBox {
  background: rgba(53, 43, 67, 0.5);
 border: 3px dotted #6e5e89 !important;}

div.comment {background: rgba(110, 94, 137, 0.5) !important;
            border-bottom: 3px dotted #6e5e89;
            font-weight: bold;}

div#makeComment {background: rgba(114, 103, 120, 0.5) !important;
                border: 3px dotted #6e5e89;
                border-radius: 10px;}

div.commentText {color: #FFFFFF;}

input#comment {background: #352b43 !important;
              color: white !important;}

input[type="button"].bad {background: rgba(204, 147, 195, 0.5) !important;}

.commentTag.clear {border: 3px dotted #6c547a;}

/* MAKES BOXES/DESCRIPTION SHOW ON MOBILE */

@media only screen and (max-width: 767px) {
        .container.main .hidden-xs {
            display: block !important;
        }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
	display: block !important;
}

@media only screen and (min-width: 1200px) {
		div.quote {
			width: 790px;
		}
    }
