/*
Free to use CSS template by Katie (#106445).
This code may be altered, edited, or re-uploaded. 
This template may be used to create paid codes (pre-mades and commissions).
Please do NOT remove this credit, unless your coding becomes unrecognizable from this one! 
*/

/* FONT (From Google Fonts) */

@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Rubik+Glitch&display=swap');

/* BACKGROUND */

body {
	background: url('https://i.ibb.co/HdSGNXW/Untitled318-20240105174419.png') no-repeat center center fixed;
	background-size: cover;
	font-family: 'Pacifico', cursive;';
	color: #191d45
}

/* MAIN PANEL */

/* RIGHT SIDE */
.container.main {
	background: rgba(120, 131, 227, 0.25);
	border: 3px double #191d45;
	box-shadow: 5px 10px 7px #FFFFFF;
	border-radius: 15px
}

/* LEFT SIDE */
.col-md-9 {
	background: none;
        border-right: 3px double #191d45
}

/* TOPBAR ("Welcome back, ___") */

.topbar {
	background: linear-gradient(0deg, rgba(201,212,255,1) 0%, rgba(107,123,216,1) 100%);
	border: 3px double #191d45;
	border-top: none;
	color: #191d45;
	border-radius: 15px;
}

/* NAVBAR (Den/Crossroads/Etc.) */

.navbar {
	background: linear-gradient(0deg, rgba(19,27,59,1) 0%, rgba(121,141,255,1) 100%);
	border-bottom: 3px double #191d45;
	color: #191d45;
	border-radius: 15px
}

/* NAVBAR BUTTON TEXT COLOR */

.navbar li a {
	color: #191d45 !important
}

/* NAVBAR BUTTON HOVER */

.navbar li a:hover {
	background: linear-gradient(0deg, rgba(19,27,59,1) 0%, rgba(121,141,255,1) 100%) !important;
	border-bottom: 3px double #191d45;
	color: #191d45 !important;
	border-radius: 15px
}

/* BREADCRUMB (Home / Den) */

.breadcrumb {
	background: linear-gradient(0deg, rgba(201,212,255,1) 0%, rgba(107,123,216,1) 100%) !important;
        border: 3px double #191d45;
	border-radius: 15px
}

/* BREADCRUMB TEXT */

.breadcrumb .active {
	color: #191d45
}

/* CSS CREDIT */

.breadcrumb::after {
        content: "Template by Katie (#106445)|CSS by Red(#261489)";
        color: #191d45;
        position: absolute;
        right: 13%; /* (This may need adjusting) */
        z-index: 100
    }

@media only screen and (max-width: 1199px) and (min-width: 992px)  {
        .breadcrumb::after {
            right: 20%
        }
    }

    @media only screen and (max-width: 991px) and (min-width: 768px)  {
        .breadcrumb::after {
            right: 20%
        }
    }

    @media only screen and (max-width: 767px) {
        .breadcrumb::after {
            right: 22%
        }
    }

/* BOOKMARK BUTTON */

input.floatright, input.floatright:hover {
	background: linear-gradient(0deg, rgba(88,120,255,1) 0%, rgba(24,35,105,1) 100%) !important;
        border: 3px double #191d45 !important;
	border-radius: 15px;
	color: #191d45 !important;    
}

/* SWITCH ACCOUNT BUTTON */

button.button, button.button:hover {
	background: linear-gradient(0deg, rgba(88,120,255,1) 0%, rgba(24,35,105,1) 100%);
        border: 3px double #191d45 !important;
	border-radius: 15px;
        text-shadow: 5px 10px 7px #FFFFFF !important;
	color: #191d45 !important
}

/* ALERTS (ie. "Your lionesses have returned from hunting!") */

.alert,
.alert-warning,
.alert-danger {
	background: linear-gradient(0deg, rgba(88,120,255,1) 0%, rgba(218,224,255,1) 100%) !important;
	border: 3px double #191d45;
	color: #191d45;
	border-radius: 15px !important
}

/* BIGGEST HEADER ("___"'s DEN) */

h1 {
	color: #191d45;
	font-size: 90px;
	text-align: center;
        font-family: 'Rubik Glitch', system-ui;'
}


/* MEDIUM HEADER */

h2 {
	color: #191d45;
	font-size: 30px;
	text-align: center
}


/* SMALL HEADER */

h3 {
	color: #191d45 !important;
	font-size: 20px !important
}

/* RIGHT SIDE PANEL HEADER */

.sidebar h3 {
	color: #191d45 !important;
        font-size: 30px !important;
        font-family: 'Rubik Glitch', system-ui;'
}

/* RIGHT SIDE PANELS */
.panel {
	background: linear-gradient(0deg, rgba(201,212,255,1) 0%, rgba(107,123,216,1) 100%) !important;
	box-shadow: 5px 10px 7px #FFFFFF !important;
	border: 3px double #191d45 !important;
	color: #191d45 !important;
	border-radius: 15px
}

/* ENERGY BAR BACKGROUND */
.progress {
	background: linear-gradient(0deg, rgba(88,120,255,1) 0%, rgba(218,224,255,1) 100%);
	color: #191d45 !important;
	border-radius: 15px !important
}

/* ENERGY BAR COLOR */
.progress-bar {
	background: linear-gradient(0deg, rgba(88,120,255,1) 0%, rgba(24,35,105,1) 100%);
	color: #191d45 !important;
	border-radius: 15px !important
}

/* ENERGY BAR TEXT */
.progress div {
	color: #191d45 !important
}

/* CHAT */

.s-chat-message:nth-child(even) /* Even Numbered Messages */ {
	background: rgba(1, 1, 1, 0.5) !important;
        color: #000000 !important;
	border: none !important
}

.s-chat-message:nth-child(odd) /* Odd Numbered Messages */ {
	background: rgba(1, 1, 1, 0.5) !important;
        color: #000000 !important;
	border: none !important
}

.s-chat-message__pinned /* Pinned Message */ {
	background: rgba(1, 1, 1, 0.5) !important;
        color: #000000 !important;
	border: none !important
}

.s-chat-message_timestamp /* Timestamps */ {
	color: #000000 !important;
}

div#chatMessageContainer {
	border: none !important;
}

button#label_currentChannel /* Channel Button ie. Main, Sales */ {
	background: rgba(1, 1, 1, 0.5) !important;
        color: #000000 !important;
	border: none !important
}

/* LION INFO TABLE (Level, Stats, Territory Count, Etc.) */


/* PANEL BACKGROUND COLOR */

.table {
	background: linear-gradient(0deg, rgba(88,120,255,1) 0%, rgba(218,224,255,1) 100%);
	border: 3px double #191d45 !important;
	border-collapse: separate;
	border-radius: 15px
}

.table {
	color: #191d45;
}


/* HEADERS COLOR (King Name + Title, "There are _ lions with mutations in _'s pride.") */

.top,
.bottom,
th {
	background: linear-gradient(0deg, rgba(19,27,59,1) 0%, rgba(121,141,255,1) 100%) !important;
	color: #191d45 !important;
	border-radius: 15px
}

td.bottom a {
        text-decoration: none !important
}

/* Color behind "Level, Stats, Branch, Territory" etc. */

.inner-table .left {
	background: linear-gradient(0deg, rgba(88,120,255,1) 0%, rgba(218,224,255,1) 100%) !important;
        color: #191d45;
	border-radius: 15px
}


/* Color behind the number of all of the things above */

.inner-table .right {
	background: none;
	border-radius: 15px !important
}

td.right {
	border-radius: 15px !important
}

/* IGNORE */
.right_odd {
	background: none !important
}

/* Affects the color behind "_ Unsorted", "_ Pregnant Lionesses", "View Pride Overview", and cave/mound names */

.cave-grid,
.mound-grid {
	background: linear-gradient(0deg, rgba(201,212,255,1) 0%, rgba(107,123,216,1) 100%);
	border: 3px double #191d45 !important;
	border-radius: 15px !important
}

/* FEED ALL, PLAY ALL */

.feature {
	background: linear-gradient(0deg, rgba(201,212,255,1) 0%, rgba(107,123,216,1) 100%) !important;
	color: #191d45 !important;
	border: 3px double #191d45 !important;
	border-radius: 15px !important
}

/* "King Dynasty, Pride Dynasty, Achievements, Showcase" Panels */

.feature,
div.left {
	background: linear-gradient(0deg, rgba(201,212,255,1) 0%, rgba(107,123,216,1) 100%);
	border: 3px double #191d45;
	border-radius: 15px !important
}

/* Block of color behind "Territory Description, Player Name, Avatar URL" etc. */

.table .left {
	background: linear-gradient(0deg, rgba(88,120,255,1) 0%, rgba(218,224,255,1) 100%);
        border-radius: 15px
}

.inner-table .right {
	color: #191d45;
}

/* Color behind the content of the elements listed above */

input,
select,
textarea {
	background: linear-gradient(0deg, rgba(88,120,255,1) 0%, rgba(218,224,255,1) 100%) !important;
	border: 3px double #191d45 !important;
	border-radius: 15px !important;
	color: #191d45 !important;
	box-shadow: 5px 10px 7px #FFFFFF !important;
	text-shadow: 5px 10px 7px #FFFFFF !important
}

/* ACCOUNT OPTIONS PANELS  (Friend Requests Toggles, etc.) */

.item-header {
	background: linear-gradient(0deg, rgba(19,27,59,1) 0%, rgba(121,141,255,1) 100%) !important;
	color: #191d45 !important;
	border-radius: 15px !important;
}

.item {
	background: linear-gradient(0deg, rgba(201,212,255,1) 0%, rgba(107,123,216,1) 100%) !important;
	border: 3px double #191d45 !important;
	border-radius: 15px !important
}

/* ACCOUNT OPTIONS ON/OFF TOGGLE SWITCH */

div.slider.round /* Background */ {
	background: #4c528c !important
}

div.slider.round::before /* Circle Part */ {
	background: #FFFFFF !important
}

/* Copyright, Terms of Service, CoC, etc. */

div.container.footer.center.white.visible-lg.visible-md.visible-sm, div.container.footer.center.white.visible-lg.visible-md.visible-sm a {
        color: #191d45 !important;
        text-shadow: 5px 10px 7px #FFFFFF !important
}

/* LINK COLOR */

a:link,
a:visited {
	color: #191d45 !important
}

/* LINK HOVER COLOR */

a:hover {
	color: #ffffff !important
}


/* BOX CONTAINER */

.boxcontainer {
	background: none;
	height: auto;
	padding: 0px;
	justify-content: center;
	display: flex
}

/* BOXES */

.smallbox {
	float: left;
	background: linear-gradient(0deg, rgba(201,212,255,1) 0%, rgba(107,123,216,1) 100%);
	color: #191d45;
	padding: 10px;
	border: 3px double #191d45;
	border-radius: 15px;
	margin: 10px;
	height: 150px;
	width: 28.4%;
	overflow: auto
}

.mediumbox {
	float: left;
	background: linear-gradient(0deg, rgba(201,212,255,1) 0%, rgba(107,123,216,1) 100%);
	color: #191d45;
	padding: 10px;
	border: 3px double #191d45;
	border-radius: 15px;
	margin: 10px;
	height: 150px;
	width: 43.8%;
	overflow: auto
}

.largebox {
	float: left;
	background: linear-gradient(0deg, rgba(201,212,255,1) 0%, rgba(107,123,216,1) 100%);
	color: #191d45;
	padding: 10px;
	border: 3px double #191d45;
	border-radius: 15px;
	margin: 10px;
	height: 150px;
	width: 90%;
	overflow: auto
}

/* HOVER BOXES */

.smallhoverbox {
	float: left;
	background: rgba(1, 1, 1, 0.5);
	color: #000000;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 50px;
	width: 28.4%;
	overflow: auto;
        transition: 3s
}

.smallhoverbox:hover {
	height: 150px;
	width: 28.4%;
}

.mediumhoverbox {
	float: left;
	background: rgba(1, 1, 1, 0.5);
	color: #000000;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 50px;
	width: 43.8%;
	overflow: auto;
        transition: 3s
}

.mediumhoverbox:hover {
	height: 150px;
	width: 43.8%;
}

.largehoverbox {
	float: left;
	background: rgba(1, 1, 1, 0.5);
	color: #000000;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 150px;
	width: 90%;
	overflow: auto;
        transition: 3s
}

.largehoverbox:hover {
	height: 150px;
	width: 90%;
}

/* SCROLL BAR */

/* WIDTH */

::-webkit-scrollbar {
	width: 10px
}


/* BACKGROUND */

::-webkit-scrollbar-track {
	background: #4c528c
}


/* "THUMB" */

::-webkit-scrollbar-thumb {
	background: #FFFFFF;
	border-radius: 15px
}


/* LION AND USER AVATAR OPACITY */

div#lion_image {
	opacity: 1
}

table#player img {
	opacity: 1
}


/* CIRCULAR LION AND USER AVATAR */

div#lion_image {
	border-radius: 30% !important;
	overflow: hidden;
	margin-top: 15px; /* May need adjusting */
	margin-left: 12px /* May need adjusting */
}

table#player img {
	border-radius: 30% !important;
	overflow: hidden
}


/* LIODEN LOGO REPLACER */

div.container.main>div:nth-child(1)>nav>div.navbar-header>a>img {
	content: url('https://i.ibb.co/GJxF4kN/Untitled276-20240105174608.png')
}

/* CAVE / MOUND IMAGES */

img[src$="nestingbanner.png"] {
  content: url("https://i.ibb.co/k9bxFw0/Untitled319-20240105174253.png") !important;
}

img[src$="overviewbanner.png"] {
  content: url("https://i.ibb.co/DkMwwzN/Untitled319-20240105174238.png") !important;
}

img[src$="unsortedlionsbanner.png"] {
  content: url("https://i.ibb.co/QHb1yhP/Untitled319-20240105174306.png") !important;
}

img[src$="cavedefault.jpg"] {
  content: url("https://i.ibb.co/3zLC633/Untitled319-20240105174325.png") !important;
}

.mound-grid img /* Mound(s) */ {
	background: url("https://i.ibb.co/3yRk4nz/f2u-fricking-bubbles-by-imborednstuff-dcauwba.gif");
	width: 0;
	height: 0;
	padding-top: 80px;
	padding-right: 130px
}

img[src$="icon-beetle-gold.png"] {
    content:url('https://i.ibb.co/f4JCz5C/Untitled280-20240105174942.png')!important;
}
img[src$="icon-beetle-silver.png"] {
    content:url('https://i.ibb.co/VWWtLLR/Untitled280-20240105174934.png')!important;
}

/* Codes made by Pandora #144118 and Kat .:Red Lion of Voltron:. #94329 
Codes may be edited, used in commissions or for personal use
Please do not remove credit
*/
 
/* KING DYNASTY */
img[src$="ancestors.jpg"] {
    content:url('https://i.ibb.co/k9bxFw0/Untitled319-20240105174253.png')!important;
    width:185px!important;
 
}
 
/* PRIDE DYNASTY */
img[src$="ancestorsfem.png"] {
    content:url('https://i.ibb.co/DkMwwzN/Untitled319-20240105174238.png')!important;
    width:185px!important;
 
}
 
/* ACHIEVMENTS */
img[src$="achievements.jpg"] {
    content:url('https://i.ibb.co/QHb1yhP/Untitled319-20240105174306.png')!important;
    width:185px!important;
 
}
 
/* SHOWCASE */
img[src$="showcase/banner.png"] {
    content:url('https://i.ibb.co/3zLC633/Untitled319-20240105174325.png')!important;
    width:185px!important;
 
  }

/* SIDEBAR ARROWS */
 
/* TOP */
 
div.col-xs-6 > a > h3 > div {
    content:url('https://i.ibb.co/4WRCHSr/free-to-use-avatar-shark-by-caffeine-holist-d7q98b4.gif');
    position:relative;
    width:40px;
}
 
/* MIDDLE */
 
div.col-xs-5> a:nth-child(1) > h3 > div {
    content:url('https://i.ibb.co/4WRCHSr/free-to-use-avatar-shark-by-caffeine-holist-d7q98b4.gif');
    position:relative;
    width:40px;
}
 
/* BOTTOM */
 
div.col-xs-5> a:nth-child(3) > h3 > div {
    content:url('https://i.ibb.co/4WRCHSr/free-to-use-avatar-shark-by-caffeine-holist-d7q98b4.gif');
    position:relative;
    width:40px;
}

/* Codes made by Pandora #144118 and Kat .:Red Lion of Voltron:. #94329 
Codes may be edited, used in commissions or for personal use
Please do not remove credit
*/
 
/* USE THESE TO CHANGE COLOR */
 
/* MEMBER ONLINE */
 
.member-online {
    background: #191d45;
 
}
 
/* MEMBER OFFLINE */
 
.member-offline {
    background: #4c528c;
 
}

/*-------------------------*/
/*Comment Box CODE BY HOK-Z*/
/*-------------------------*/
#commentBox {
  background: linear-gradient(0deg, rgba(201,212,255,1) 0%, rgba(107,123,216,1) 100%);
 border: 3px double #191d45 !important;}

div.comment {background: linear-gradient(0deg, rgba(88,120,255,1) 0%, rgba(218,224,255,1) 100%) !important;
            border-bottom: 3px double #191d45;
            font-weight: bold;}

div#makeComment {background: linear-gradient(0deg, rgba(19,27,59,1) 0%, rgba(121,141,255,1) 100%) !important;
                border: 3px double #191d45;
                border-radius: 15px;}

div.commentText {color: ##191d45;}

input#comment {background: #FFFFFF !important;
              color: white !important;}

input[type="button"].bad {background: linear-gradient(0deg, rgba(88,120,255,1) 0%, rgba(24,35,105,1) 100%) !important;}

.commentTag.clear {border: 3px double #191d45;}

/* CUSTOM LAYOUTS */
    .pun-credit {
        position: fixed;
        bottom: 0px;
        right: 10px;
        color: #191d45 !important;
        font-size: 15px;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-align: center;
        background: linear-gradient(0deg, rgba(201,212,255,1) 0%, rgba(107,123,216,1) 100%) !important;
        padding: 5px;
    }
    .pun-credit a {
        color: #191d45 !important;
    }
    .pun-credit a:hover {
        opacity: 1 !important;
    }
    .pun-credit:hover {
        opacity: 1;
        transition: 2s;
    }
    .pun-table {
        width: 640px;
        background: url('https://i.ibb.co/sCchKjG/f2u-rocky-beach-background-gfx-by-jellieadopts-dfy69xa.png') center center no-repeat;
        background-size: cover;
        border-radius: 25px;
        opacity: 0.9;
        border: 3px double #191d45 !important;
        box-shadow: 5px 10px 7px #FFFFFF;
        margin: auto;
    }
    .pun-spacer {
        background: none;
        width: 350px;
    }
    .pun-content {
        background: linear-gradient(0deg, rgba(201,212,255,1) 0%, rgba(107,123,216,1) 100%) !important;
        text-align: center;
        height: 300px;
        overflow: auto;
        width: 280px;
        padding: 10px;
        border-radius: 15px;
        font-size: 15px;
        color: #191d45 !important;


    }
    .pun-content h3 {
        margin: 0 0 10px 0;
        border-bottom: 3px double #191d45;
        text-align: center;
    }
    .pun-content a {
        font-weight: bold !important;
        opacity: 1;
    }
    .pun-content a:hover {
        opacity: 1 !important;
    }
    .pun-links {
        background: linear-gradient(0deg, rgba(88,120,255,1) 0%, rgba(218,224,255,1) 100%) !important;
        background: linear-gradient(0deg, rgba(88,120,255,1) 0%, rgba(218,224,255,1) 100%) !important;
        color: #191d45;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: bold;
        letter-spacing: 1px;
        text-align: center;
        border-radius: 15px;
    }
    .pun-links a {
        color: #FFFFFF !important;
    }
    .pun-title {
        text-align: center;
        color: #191d45;
        font-size: 64px;
        letter-spacing: 2px;
        font-family: 'Rubik Glitch', system-ui;;
        opacity: 0.9;
    }

.pun-art {
    width: 100%;
    height: 60px;
    color: #191d45;
    text-align: center;
    background: none;
    border-radius: 15px;
    opacity: 0.8;
    overflow: hidden;
    }
.pun-art:hover {
    height: auto;
}

.box {
     position: relative;
}
.box-topper {
     content: url('https://i.ibb.co/4WRCHSr/free-to-use-avatar-shark-by-caffeine-holist-d7q98b4.gif');
     position: absolute;
     top: -50px;
     right: -50px;
     z-index: 2;
}

/* MAKES BOXES/DESCRIPTION SHOW ON MOBILE */

@media only screen and (max-width: 767px) {
        .container.main .hidden-xs {
            display: block !important;
        }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
	display: block !important;
}

@media only screen and (min-width: 1200px) {
		div.quote {
			width: 790px;
		}
                   }
